
<div class="row small-collapse row-collapse home">
    <div class="large-5 small-12 columns left-panel hide-for-small-only">
        <div class="left-img"></div>
    </div>
    <div class="large-7 small-12 columns">
        <section class="row-collapse valign-middle">

            <div class="large-6 medium-5 small-12 columns left-section valign-middle">
                <img src="/assets/img/bottle.jpg">
            </div>
            <div class="large-6 medium-7 small-12 columns right-section valign-middle">
                <div class="inner">
                <img src="/assets/img/logo.svg">
                <p>The luscious and sexy fragrance opens with sparkling fruits and an ultra-feminine florally passionately spun with musks and woods and an addictive hint of marshmallow.

                    ARI by ARIANA GRANDE will be available in key marketsin September 2015</p>
                    </div>
            </div>

        </section>
        <section class="row-collapse" id="section-signup">
            <div class="large-4 medium-6 small-12 columns left-section">
                <div class="row-collapse">
                    <div class="loaderContainer">
                        <p>One moment..</p>
                    <div class="loader"></div>
                        </div>
                    <h3>Sign up for updates</h3>
                        <div id="messages" ng-show="message">{{ message }}</div>
                    <form id="ticket" ng-submit="processForm()">

                            <div class="large-12 columns" ng-class="{ 'has-error' : errorFirstName }">
                                <label>First Name
                                    <input type="text" name="firstname" ng-model="formData.firstname" />
                                    <small class="error" ng-show="errorFirstName">{{ errorFirstName }}</small>
                                </label>
                            </div>
                            <div class="large-12 columns" ng-class="{ 'has-error' : errorLastName }">
                                <label>Last Name
                                    <input type="text" name="lastname" ng-model="formData.lastname" />
                                    <small class="error" ng-show="errorLastName">{{ errorLastName }}</small>
                                </label>
                            </div>
                            <div class="large-12 columns" ng-class="{ 'has-error' : errorEmail }">
                                <label>Email Address
                                    <input type="text" name="email" ng-model="formData.email" />
                                    <small class="error" ng-show="errorEmail">{{ errorEmail }}</small>
                                </label>
                            </div>
                        <div class="large-12 columns" ng-class="{ 'has-error' : errorOver13 }">
                            <input id="over13" name="over13" type="checkbox" ng-model="formData.over13" ><label for="over13">I am at least 13 years old</label>
                        </div>
                        <div class="large-12 columns" ng-class="{ 'has-error' : errorTerms }">
                            <input id="terms" name="terms" type="checkbox" ng-model="formData.terms"><label for="terms">I accept the <a ng-href="/#terms">terms and conditions</a></label>
                        </div>
                        <div class="large-12 columns">
                            <button type="submit" class="button btnPrimary small">Submit</button>
                        </div>

                        </form>

                    </div>
            </div>
            <div class="large-8 medium-6 small-12 columns right-section">
                <img src="/assets/img/ariana1.jpg" class="ariana1">
                <img src="/assets/img/ariana2.jpg" class="ariana2 hide-for-small-only">
            </div>
        </section>
        <section class="row-collapse valign-middle">
            <a ng-click="play($event)"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 34 34">
                <path fill="#FFFFFF" d="M17.1,0.2c-9.4,0-17,7.6-17,17s7.6,17,17,17s17-7.6,17-17S26.5,0.2,17.1,0.2z M17.1,31.2
		c-7.7,0-14-6.3-14-14s6.3-14,14-14s14,6.3,14,14S24.8,31.2,17.1,31.2z"/>
                <polygon fill="#FFFFFF" points="14,24 23,17.2 14,10.5 	"/>
            </svg>WATCH THE VIDEO</a>
            <div class="large-12 columns left-section wistia-section valign-middle">

                <div id="wistia1"></div>


            </div>
        </section>
    </div>
</div>
