<div class="signup-overlay"></div>
<div class="home">
    <div class="scroll-control" ng-click="showScroll=false;scrollDown();">
        <div class="scroll-down-container" ng-show="showScroll">
            <div class="scroll-down"></div>
        </div>
    </div>
<div class="row small-collapse valign-middle film-row">



    <div class="large-12 columns valign-middle relative" id="film">
     <div class="video-overlay video-init">
            <a ng-href="/"><img src="/assets/img/logo-primary.svg" alt="ARI by ARIANA GRANDE"></a>
        </div>

        <div class="videoContainer">
            <a href="#" class="button btnPrimary btnMobile" ng-click="playMobile()">Watch Ariana's behind the scene video</a>
          <!-- <video id="the-video" controls autoplay="autoplay" loop="loop" poster="/assets/img/cover.jpg">
                <source src="/assets/video/ariana.mp4" type="video/mp4" />
                <source src="/assets/video/ariana.webm" type="video/webm" />
                <source src="/assets/video/ariana.ogv" type="video/ogg" />
            </video>-->

        </div>

        <!-- competition form -->

        <div id="signup">

            <div class="close"><p>{{'ENTER' | translate}}</p><a href="" ng-click="close()">X</a></div>

            <div class="loader" id="signupLoader">
                <div class="loader-inner ball-pulse">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="small-12 small-centered columns textSection end">
                <div id="messages" ng-show="message">{{ message }}</div>
                <form id="ticket" ng-submit="processForm()">
                   <div class="form-part-1">
                    <div class="row">
                        <div class="large-12 columns">
                        <p class="win">To win a chance to meet Ariana Grande in person, enter our competition by filling in your details and answering one simple question. You and a friend could win an all expenses paid trip to either the US or UK (Depending on your country of residence) to meet Ariana in person.</p>
                            </div>
                    </div>
                        <div class="large-12 columns country-flags" ng-class="{ 'has-error' : errorCountry }">
                            <h3>Step 1 - Tell us where you're from</h3>
                            <ul>
                                <li data-lang="en" data-val="US" data-consent="21" ng-click="country($event)"><div class="img-thumbnail flag flag-icon-background flag-icon-us"></div><span>USA</span></li>
                                <li data-lang="en" data-val="CA"  data-consent="19" ng-click="country($event)"><div class="img-thumbnail flag flag-icon-background flag-icon-ca"></div><span>Canada</span></li>
                                <li data-lang="en" data-val="EN"  data-consent="18" ng-click="country($event)"><div class="img-thumbnail flag flag-icon-background flag-icon-gb"></div><span>United Kingdom</span></li>
                                <li data-lang="fr" data-val="FR"  data-consent="18" ng-click="country($event)"><div class="img-thumbnail flag flag-icon-background flag-icon-fr"></div><span>France</span></li>
                                <li data-lang="en" data-val="DE"  data-consent="18" ng-click="country($event)"><div class="img-thumbnail flag flag-icon-background flag-icon-de"></div><span>Germany</span></li>
                                <li data-lang="en" data-val="JP"  data-consent="20" ng-click="country($event)"><div class="img-thumbnail flag flag-icon-background flag-icon-jp"></div><span>Japan</span></li>
                                <li data-lang="en" data-val="Other"  data-consent="20" ng-click="country($event)"><div class="img-thumbnail flag flag-other"></div><span>Other</span></li>
                            </ul>
                            <input type="hidden" name="country" id="country" ng-model="formData.country">
                        </div>
                       </div>
                    <div class="form-part-2">
                    <div class="row">
                        <div class="large-12 columns"><h3>Step 2 - Fill out your details</h3></div>
                        <div class="large-6 columns" ng-class="{ 'has-error' : errorName }">
                            <label>{{'NAME' | translate}}
                                <input type="text" name="name" placeholder="{{'YOUR_NAME' | translate}}" ng-model="formData.name" />
                            </label>

                        </div>
                        <div class="large-6 columns" ng-class="{ 'has-error' : errorEmail }">
                            <label>{{'EMAIL' | translate}}
                                <input type="text" name="email" id="email" placeholder="{{'YOUR_EMAIL' | translate}}" ng-model="formData.email" />
                            </label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 large-3 columns" ng-class="{ 'has-error' : errorAge }">
                            <label>{{'AGE' | translate}}</label>
                            <input type="number" name="age" id="age" value="13" ng-model="formData.age" ng-change="consentChange()" />

                        </div>
                        <div class="large-9 columns" ng-class="{ 'has-error' : errorSingle }">
                            <label>{{'QUESTION' | translate}}</label>
                            <input type="text" name="single" id="single" placeholder="{{'ENTER_ANSWER' | translate}}" ng-model="formData.single" />
                        </div>
                    </div>

                    <div class="row">

                        <div class="large-6 columns" ng-class="{ 'has-error' : errorGender }">
                            <label>{{'GENDER' | translate}}</label>
                            <input type="radio" name="gender" value="male" id="male" ng-model="formData.gender"><label for="male">{{'MALE' | translate}}</label>
                            <input type="radio" name="gender" value="female" id="female" ng-model="formData.gender"><label for="female">{{'FEMALE' | translate}}</label>

                        </div>

                    </div>


                    <div class="row terms">
                        <div class="large-12 columns" ng-class="{ 'has-error' : errorOver18 }">

                            <input id="over18" name="over18" type="checkbox" ng-model="formData.over18" ><label for="over18"> {{'OVER18' | translate:translationData}}</label>
                        </div>
                        <div class="large-12 columns" ng-class="{ 'has-error' : errorTerms1 }">

                            <input id="terms1" name="terms1" type="checkbox" ng-model="formData.terms1" ><label for="terms1"> {{'TERMS1_PART1' | translate}} <a ng-href="/#terms-row" class="the-terms" target="_blank">{{'TERMS1_PART2' | translate}} </a></label>
                        </div>
                        <div class="large-12 columns" ng-class="{ 'has-error' : errorTerms2 }">

                            <input id="terms2" name="terms2" type="checkbox" ng-model="formData.terms2"><label for="terms2"> {{'TERMS2' | translate}}</label>
                        </div>
                        <div class="large-12 columns" ng-class="{ 'has-error' : errorTerms3 }">

                            <input id="terms3" name="terms3" type="checkbox" ng-model="formData.terms3"><label for="terms3"> {{'TERMS3' | translate}}</label>
                        </div>

                    </div>
                        <div class="row terms">
                            <div class="large-12 columns">

                                <button type="submit" class="button btnPrimary small">{{'SUBMIT' | translate}}</button>
                            </div>

                    </div>
                        </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- end comp -->
        <div class="finish">
            <div class="bg"></div>
            <div class="row valign-bottom signup">

                    <div class="large-6 medium-6 columns valign-bottom bottle-container hide-for-small">
                        <div class="bottle-circle">
                        <a ng-click="showScroll=false;scrollDown();"><img src="/assets/img/bottle-cutout.png" class="bottle"></a>
                            </div>
                    </div>
            <div class="large-6 medium-6 columns valign-bottom">
                <!--
                <div class="who">
                <h2>who's that with ariana?</h2>
                <p>It could be you, meeting Ariana at the launch of Ari by Ariana Grande! Just give us your details, and we'll make sure you're entered for this once in a lifetime experience </p>
                <a href="" class="btn btnPrimary btnSignUp anim" ng-click="signup()">Click here to Enter</a>
                    </div>
                    -->
            </div>
        </div>

            </div>

    </div>
</div>


<div class="row small-collapse" id="fragrance">
    <div class="large-12 columns textSection">
       <div class="row valign-middle">
           <div class="large-6 medium-6 columns valign-middle">
               <div class="fragrance-bottle">
               <img src="/assets/img/bottle-cutout.png">
                   </div>
           </div>
           <div class="large-6 medium-6 columns valign-middle">
               <div class="fragrance-txt">
               <h2 style="text-align: center;"><img src="/assets/img/logo-secondary.svg"></h2>
               <p>The luscious and sexy fragrance opens with sparkling fruits and an ultra-feminine florally  passionately spun with musks and woods and an addictive hint of marshmallow.</p>
               <p>ARI by ARIANA GRANDE will be available in key markets in September 2015.</p>
                   </div>
           </div>
       </div>
        </div>
 </div>
    </div>
