<div class="row">
    <div class="large-12 columns pageContent">
        <section>
        <h1>Privacy Policy</h1>
        <p>Effective Date: July 9, 2015.</p>
      
        <p>This privacy policy (&ldquo;Privacy Policy&rdquo;) governs the manner in which LUXE Brands, Inc. (&ldquo;LUXE&rdquo;) collects, uses, maintains and discloses information collected from users (each, a &ldquo;User&rdquo; of the <a href="http://www.arianagrandefragrances.com">www.arianagrandefragrances.com</a> website, including any mobile version (&ldquo;Site&rdquo;). This Privacy Policy applies to the Site. This Privacy Policy does not apply to our data collection activities offline or otherwise outside of our Site (unless otherwise stated below). Please review the Site&rsquo;s Terms of Use, which governs your use of the Site.</p>
      
        <p><strong><em>By accessing and using our Site, you consent to our Privacy Policy, our Terms of Use and our collection, use and sharing of your information and data, and other activities, as described below. </em></strong></p>
        <p><strong>Personal identification information</strong></p>
        <p>We may collect personal information from Users in a variety of ways, including, but not limited to, when Users visit the Site and in connection with other activities, services, features or resources we make available on the Site. Users may be asked for, as appropriate, first and last name, email address, mailing address and phone number. Users may, however, visit our Site anonymously. We will collect personal information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personal information, except that it may prevent them from engaging in certain Site related activities.</p>
        <p><strong>Non-personal identification information</strong></p>
        <p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service provider&rsquo;s utilized and other similar information.</p>
        <p><strong>Third Party Tracking and &ldquo;Do Not Track.&rdquo;</strong></p>
        <p>There may be tracking technologies now and later devised and used by us in connection with the Site. Further, third parties may use tracking technologies in connection with our Site, which may include the collection of information about your online activities over time and across third-party web sites or online services. We may not control those tracking technologies and we are not responsible for them. You consent, however, to potentially encountering third-party tracking technologies in connection with use of our Site and accept that our statements under this Privacy Policy do not apply to the tracking technologies or practices of such third parties. Also, various third parties are developing or have developed signals or other mechanisms for the expression of consumer choice regarding the collection of information about an individual consumer&rsquo;s online activities over time and across third-party web sites or online services (e.g., browser do not track signals). Currently, we do not monitor or take any action with respect to these signals or other mechanisms.</p>
        <h3 id="cookies">Web browser cookies</h3>
        <p>Our Site may use &ldquo;cookies&rdquo; to enhance the User experience. A User&rsquo;s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. A cookie is a data file placed on a device when it is used to visit the Site. A Flash cookie (or locally shared object) is a data file placed on a device via the Adobe Flash plug-in that may be built-in to or downloaded by you to your device. HTML5 cookies can be programmed through HTML5 local storage. A User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If you do so, note that some parts of the Site may not function properly.</p>
      
        <p>We may utilize Google Analytics, a web analytics service provided by Google, Inc. (&ldquo;Google&rdquo;). Google Analytics uses cookies to track the number of visitors to the Site and to help us understand how visitors interact with the Site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. By using this Site, you consent to the processing of data about you by Google in the manner and for the purposes set out above. You can opt out of the use of Google Analytics cookies &ndash; for more information about opting out visit https://tools.google.com/dlpage/gaoptout.</p>
      
        <p><strong>How we use collected information</strong></p>
        <p>We may use personal information to: (i) provide you with information or services or to process transactions that you have requested; (ii) respond to inquiries, questions, and/or other requests; (iii) to enable you to participate in a variety of the Site&rsquo;s features; (iv) improve the Site or create new offerings; (v) for internal business purposes; and (vi) for purposes disclosed at the time you provide your information or as otherwise set forth in this Privacy Policy. If a User decides to opt-in to our mailing list, the User will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</p>
      
        <p><strong>How we protect your information</strong></p>
        <p>We endeavor to adopt commercially reasonable data collection, storage and processing practices and security safeguards to protect against unauthorized access, alteration, disclosure or destruction of your personal information and data stored on our Site. No data transmission over the Internet, mobile networks, wireless transmission or electronic storage of information, however, can be guaranteed to be 100% secure. Please note that we cannot ensure the security of any information you transmit to us, and you use the Site and provide us with information at your own risk.</p>
        <p><strong>Sharing your personal information</strong></p>
        <p>We do not sell, trade, or rent Users&rsquo; personal identification information to others. We may share Users&rsquo; personal identification information with our affiliates, licensees, distributors, agents, and other representatives for use in accordance with this Privacy Policy. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.</p>
        <p><strong>What About Transfer of Information to the United States or the European Economic Area (&ldquo;EEA&rdquo;)?</strong></p>
        <p>Please be aware that information we collect, including personal information, may be transferred to, and processed, stored and used in the United States and/or the EEA. The data protection laws of those jurisdictions may differ from those of the country in which you are located, and your personal information may be subject to access requests from governments, courts, or law enforcement in the applicable jurisdiction according to its applicable laws. By using the Site or providing us with any information, you consent to the transfer to, and processing, usage, sharing and storage of your information, including personal information, in the United States and EEA as set forth in this Privacy Policy.</p>
        <p><strong>What Should Parents Know About Children?</strong></p>
        <p>We do not use the Site to knowingly collect personal information from children under the age of thirteen (13) that requires parental notice and consent under the Children&rsquo;s Online Privacy Protection Act (&ldquo;COPPA&rdquo;) without such parental consent. If you are a child under 13 years of age, you are not permitted to use the Site and should not send any information about yourself to us through the Site.</p>
        <p>In the event that we become aware that we have collected personal information from any child, we will dispose of that information in accordance with COPPA and other applicable laws and regulations. If you are a parent or guardian and you believe that your child under the age of 13 has provided us with personal information without COPPA-required consent, please contact us using the contact details set out at the end of this Privacy Policy.</p>
        <p><strong>Changes to this privacy policy</strong></p>
        <p>We reserve the right to change this Privacy Policy at any time. Any changes will be effective immediately upon the posting of the revised Privacy Policy and your use of our Site indicates your consent to the privacy policy posted at the time of use. We will not, however, use your previously collected personal information in a manner materially different than represented at the time it was collected without your consent. To the extent any provision of this Privacy Policy is found by a competent tribunal to be invalid or unenforceable, such provision shall be severed to the extent necessary for the remainder to be valid and enforceable.</p>
        <p><strong>Your acceptance of these terms</strong></p>
        <p>By using this Site, you signify your acceptance of this Privacy Policy and Terms of Use. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
        <p><strong>Contacting us</strong></p>
        <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:</p>
      
        <p>LUXE Brands, Inc.</p>
        <p>6825 W. Sunrise Blvd.</p>
        <p>Plantation, FL 33313</p>
      
        <p>Contact us at 1-800-818-9770 to speak to a Customer Service Representative or alternatively drop an email to: customerservices@arianagrandefragrances.com.</p>
</section>
    </div>
</div>