
<div class="row small-collapse row-collapse">
    <div class="large-3 medium-4 small-12 columns">
        <div class="row-collapse">
            <div class="large-12">
                <div class="left-thumbs">
                    <div class="product-nav active" data-node="0" ng-click="loadProduct($event)">
                        <div class="hover-circle"></div>
                        <img src="/assets/img/nav1.png"/>
                    </div>
                    <div class="product-nav" data-node="1" ng-click="loadProduct($event)">
                        <div class="hover-circle"></div>
                        <img src="/assets/img/nav2.png"/>
                    </div>
                    <div class="product-nav" data-node="2" ng-click="loadProduct($event)">
                        <div class="hover-circle"></div>
                        <img src="/assets/img/nav3.png"/>
                    </div>
                    <div class="product-nav" data-node="3" ng-click="loadProduct($event)">
                        <div class="hover-circle"></div>
                        <img src="/assets/img/nav4.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-9 medium-8 small-12 columns">
        <div class="panel">
            <div class="hide-for-small-only">
                <h3>Take a closer look</h3>
                <div class="panel-text">
                <p>The luscious and sexy fragrance opens with sparkling fruits and an ultra-feminine florally passionately spun with musks and woods and an addictive hint of marshmallow.</p>

                   <p> ARI by ARIANA GRANDE will be available in key markets in September 2015</p>
                    </div>
                </div>
                <div class="info">
                    <div class="addthis_sharing_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_tumblr"></a>
                        <a class="addthis_button_pinterest_share"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_facebook"></a>
                    </div>
                    <div class="panel-text">
                        <h4 class="product-title">EDP</h4>
                        <div class="product-description">
                          <p>The luscious new fragrance opens with sparkling fruits and an ultra-feminine floralcy, passionately spun with musks, woods, and an addictive hint of marshmallow. </p>
                        </div>
                    </div>
                    <div class="row-collapse valign-middle product-table">
                        <div class="large-12 valign-middle columns">
                            <div class="product-image">
                                <img src="/assets/img/bottle-cutout.png" class="product-image-img"/>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
    </div>
</div>
