<div class="row">
    <div class="large-12 columns pageContent">
        <section>
        <h1>Terms &amp; Conditions of Use</h1>
        <p>This website, <a href="http://www.arianagrandefragrances.com">www.arianagrandefragrances.com</a>, (the &ldquo;Site&rdquo;) is operated by LUXE Brands, Inc. (&ldquo;LUXE&rdquo;) and offers consumers a convenient way to find and learn about products from LUXE, and our affiliates, licensees, distributors, agents, and other representatives. The terms, conditions and notices contained herein (the &ldquo;Terms&rdquo;) set forth the entire understanding between LUXE and you with respect your use of this Site.</p>
        <p>Use of the Site is also subject to the LUXE privacy policy <strong><a href="/privacy">Privacy Policy</a></strong>, which explains our information collection practices, such as the types of information we collect regarding visitors to the Site and how we may use that information. By using the Site you acknowledge and accept the <strong><a href="/privacy">Privacy Policy</a></strong> and consent to the collection and use of your data in accordance with the <strong><a href="/privacy">Privacy Policy</a></strong>.</p>
        <p><strong>Please read these Terms carefully before using the Site as they affect your legal rights and obligations, including without limitation, waivers of rights, limitation of liability and your indemnity to us</strong>. This Site is offered to you conditioned on your acceptance without modification of the Terms and the <strong><a href="/privacy">Privacy Policy</a></strong>. By using this Site, you agree to the Terms and the <strong><a href="/privacy">Privacy Policy</a></strong>. If you do not agree to the Terms and/or <strong><a href="/privacy">Privacy Policy</a></strong>, do not use this Site.</p>
        <h3>MODIFICATION OF THIS AGREEMENT</h3>
        <p>From time to time, LUXE may change these Terms. You are responsible for regularly reviewing these Terms. Your continued use of the Site following the posting of changes to the Terms indicates your acceptance of those revisions.</p>
        <h3>PRODUCT DESCRIPTIONS</h3>
        <p>We try our best to be as accurate as possible. However, we do not warrant that the product descriptions or other content of this Site are accurate, complete, reliable, current, or error-free. The colors you see will depend on your monitor and we cannot guarantee that your monitor's display of any color will be accurate. All features, content and specifications, of products and services described or depicted on the Site are subject to change at any time without notice. Certain weights, measures and similar descriptions may be approximate and are provided for convenience only. Packaging may vary from that shown.</p>
        <h3>CODE OF CONDUCT</h3>
        <p>By accessing or using any Site or any feature provided through our Site, including but not limited to, when submitting any communication (a &ldquo;Communication&rdquo;) to our Site, you agree to abide by the following standards of conduct. You agree that you will not, and will not authorize or facilitate any attempt by another person or entity to:</p>
        <ol>
            <li>Post any information known by you to be false, inaccurate or misleading.</li>
            <li>Post or transmit any Communication that contains or advocates hate or racism or that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, offensive, obscene, pornographic, lewd, lascivious or otherwise objectionable, in whole or in part, or that interferes with anyone's use or enjoyment of the Site, as determined by LUXE.</li>
            <li>Post or transmit defamatory, libelous or slanderous Communications.</li>
            <li>Post or transmit any Communication that infringes another person or entity's copyright, trademark, right of publicity or other proprietary right or violates any applicable law. Any person determined by LUXE, in its sole discretion, to have repeatedly violated the intellectual property or other rights of others shall be barred from submitting or posting any further material on the Site.</li>
            <li>Post any Communication which violates any law, statute, ordinance or regulation.</li>
            <li>Post any Communication for which you were compensated or granted any consideration by any third party.</li>
            <li>Post any third-party web sites, addresses, email addresses, contact information or phone numbers.</li>
            <li>Reproduce, duplicate, copy, sell, resell or exploit for any commercial purposes, any portion of the Site or use or access to the Site.</li>
            <li>Post unsolicited advertising or unlawfully promote products or services, including sending unsolicited email advertisements.</li>
            <li>Harass, threaten, stalk or intentionally embarrass or cause distress to another person or entity.</li>
            <li>Impersonate another person or entity.</li>
            <li>Promote, solicit, or participate in any multi-level marketing or pyramid schemes.</li>
            <li>Solicit personally identifiable information from or exploit children.</li>
            <li>Engage in disruptive activity such as sending multiple messages in an effort to monopolize the forum or posting unrelated to a forum's designated topic or theme.</li>
            <li>Introduce viruses, worms, Trojan horses, harmful code, or any software or other materials that contain a component harmful to the Site.</li>
            <li>Gain unauthorized access to any computer system or non-public portion of the Site or interfere with or disrupt the Site or the servers or networks connected to the Site.</li>
            <li>Invade the privacy of any person, including posting personally identifying or otherwise private or sensitive information about a person without their consent or harvesting personally identifiable information about the Sites' users.</li>
            <li>Engage in, encourage, advocate, provide instructions for or discuss with the intent to commit conduct that would constitute a criminal or civil offense or otherwise violate any federal, state, local, or international law or regulation.</li>
        </ol>
        <p>LUXE cannot and does not assure that other users are or will be compliant with the foregoing Code of Conduct or any other provisions of these Terms, and, as between you and us, you hereby assume all risk of harm or injury resulting from any such lack of compliance.</p>
        <h3>CONTENTS OF THE SITE</h3>
        <p>The intellectual property rights in all software and content (including without limitation, photographs, images, text, graphics, video and audio clips, music, designs and overall &ldquo;look and feel&rdquo;) (&ldquo;Site Content&rdquo;) made available to you on or through the Site are owned solely and exclusively by LUXE and/or its licensors and are protected by trademark, copyright and other applicable laws and treaties worldwide. All such rights are reserved by LUXE and its licensors. Subject to your strict compliance with these Terms, LUXE grants to you a limited, non-exclusive, revocable, non-assignable, personal and non-transferable license to store, print and display the Site Content supplied solely for your own personal, non-commercial use. You are not permitted to publish, manipulate, distribute or otherwise reproduce in any format any of the Site Content or copies of the Site Content supplied to you or which appears on the Site nor may you use any such Site Content in connection with any business or commercial enterprise.</p>
        <p><strong>The Site Content and any other materials made available through the Site are provided &ldquo;as is&rdquo; and without warranties of any kind, either express or implied. To the fullest extent permissible pursuant to applicable law, LUXE disclaims all warranties, express or implied, including but not limited to, all implied warranties of merchantability, fitness for a particular purpose, title and non-infringement. LUXE does not warrant or make any representations regarding the use or the results of the use of the Site Content in terms of its correctness, accuracy, reliability, or otherwise. The materials in the Site could include technical inaccuracies or typographical errors. These materials could be inaccurate or become inaccurate as a result of development occurring after their respective dates. LUXE undertakes no obligation to verify or maintain the accuracy of such information. Because some jurisdictions do not allow limitations on how long an implied warranty lasts, or the exclusion or limitation of liability for consequential or incidental damages, the above limitations may not apply to you.</strong></p>
        <h3>OPERATION OF THE SITE - DISCLAIMER</h3>
        <p>LUXE endeavors to maintain the Site and its operation, but is not, and cannot be, responsible for the results of any defects that may exist in the Site or its operation. <strong>As to the operation of the Site, LUXE expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to all implied warranties of merchantability or fitness for a particular purpose, title and non-infringement. LUXE makes no warranty that (i) the operation of the Site will meet a user's requirements; (ii) access to the Site will be uninterrupted, timely, secure, free of viruses, worms, Trojan Horses or other harmful components, or free of defects or errors; (iii) the results that may be obtained from the use of the Site will be accurate or reliable; or (iv) defects will be corrected. You (and not LUXE) assume the entire cost of all servicing, repair, or correction that may be necessary for your computer equipment and software as a result of any viruses, errors or any other problems whatsoever you may have as a result of visiting the Site. </strong>Because some jurisdictions do not allow limitations on how long an implied warranty lasts, or the exclusion or limitation of liability for consequential or incidental damages, the above limitations may not apply to you.</p>
        <h3>LIMITATION OF LIABILITY</h3>
        <p><strong>In no event will LUXE or our affiliates, licensees, distributors, agents or other representatives be liable for any direct, indirect, special, punitive, incidental, exemplary or consequential, damages, or any damages whatsoever, even if previously advised of the possibility of such damages, whether in an action under contract, negligence. or any other theory, arising out of or in connection with the use, inability to use, or performance of the information, service, products, and Site Content or materials available from this Site. These limitations shall apply notwithstanding any failure of essential purpose of any limited remedy.</strong></p>
        <h3>INDEMNIFICATION</h3>
        <p>You agree to indemnify, defend, and hold harmless LUXE, our affiliates, distributors, agents and other representatives, and their respective officers, directors, employees, agents, licensors and suppliers from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation by you of the Agreement, your use of the Site (including negligent or wrongful conduct) and/or the use of any Site for which you have registered by any other person using your user account.</p>
        <h3>CONTEST, SWEEPSTAKES AND OTHER PROMOTION</h3>
        <p>From time to time, LUXE may conduct promotions on or through the Site, including without limitation, contests, sweepstakes and other promotions (&ldquo;Promotions&rdquo;). Each Promotion may have additional terms and/or rules of participations (&ldquo;Promotion Rules&rdquo;), which will be posted on the Site or otherwise made available to you. The Promotion Rules for each Promotion in which you participate will be deemed incorporated into and form a part of these Terms. It is your responsibility to read the Promotion Rules to determine whether or not your participation, registration or entry will be valid or restricted, and to determine your participation requirements.</p>
        <h3>THIRD PARTY WEBSITES</h3>
        <p>To the extent that this Site contains links to other web sites and outside services and resources, we do not control the availability and content of those web sites, services or resources, nor do we necessarily review or endorse materials available at or through such other web sites. Viewing other web sites or utilizing outside services and resources is done at your own risk. Accordingly, we encourage you to be aware when you leave this Site and to read the terms and conditions and privacy policy of each third-party web site that you visit. We shall not be liable for any loss or damage caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web site or resource.</p>
        <h3>ELECTRONIC COMMUNICATIONS</h3>

        <p>To the extent consistent with our <strong><a href="/privacy">Privacy Policy</a></strong>, we may in our discretion communicate with you electronically, including but not limited to by email or by posting notices on the Site. You consent to receive communications from us electronically and agree that all agreements, notices, disclosures or other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>

        <h3>SITE NOT FOR CHILDREN.</h3>

        <p>The Site is not intended for children under the age of thirteen (13). If you are under 13 years of age, then please do not use the Site and exit now.</p>
        <h3>APPLICABLE LAW AND DISPUTES</h3>
        <p>The Agreement shall be governed by and interpreted in all respects in accordance with the substantive laws of the state of Florida, U.S.A., without regard to its choice of law provisions. You agree that any disputes directly or indirectly arising out of or relating to the Agreement or the Site shall be resolved exclusively in the state or federal courts located in Miami, Florida. You hereby irrevocably consent to such venue and to the exclusive jurisdiction of any such court over any such dispute.</p>
        <p>Any cause of action or claim you may have directly or indirectly arising out of or relating to the Agreement or the Site must be commenced within one (1) year after the claim or cause of action arises.</p>

        <h3>INTERNATIONAL USERS</h3>
      
        <p>Any personal information (&ldquo;Personal Data&rdquo;) that is submitted to this Site will be collected, processed, stored, disclosed and disposed of in accordance with applicable U.S. law and our <strong><a href="/privacy">Privacy Policy</a></strong>. If you are a non-U.S. user, you acknowledge and agree that LUXE may collect, process and use your Personal Data and disclose it to other entities outside your resident jurisdiction. In addition, such Personal Data may be stored on servers located outside your resident jurisdiction. U.S. law may not provide the degree of protection for Personal Data that is available in other countries. By providing us with your Personal Data, you acknowledge that you consent to the transfer of such Personal Data outside your resident jurisdiction as detailed in our <strong><a href="/privacy">Privacy Policy</a></strong>. If you do not consent to such transfer, you may not use this Site.</p>
      
        <h3>NO WAIVER</h3>
      
        <p>No failure on the part of LUXE to enforce any part of these Terms shall constitute a waiver of any of LUXE's rights under these Terms whether for part or future actions on the part of any person. Only a specific, written waiver signed by an authorized representative of LUXE shall have any legal effect whatsoever.</p>
      
        <h3>SEVERABILITY AND ENFORCEABILITY</h3>
        <p>If any provision or portion of these Terms is held illegal, invalid, or unenforceable, in whole or in part, it shall be modified to the minimum extent necessary to correct any deficiencies or replaced with a provision which is as close as is legally permissible to the provision found invalid or unenforceable and shall not affect the legality, validity or enforceability of any other provisions or portions of these Terms.</p>
        <h3>TERMINATION/EXCLUSION</h3>
        <p>We reserve the right, in our sole discretion, to revoke, terminate or suspend any and all privileges associated with accessing this Site for any reason or for no reason whatsoever including improper use of this Site or failure to comply with these Terms or the Code of Conduct, and to take any other action we deem appropriate.</p>
        <h3>USER SUGGESTIONS</h3>
        <p>You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information provided by you through this Site are not confidential and you grant us a worldwide, royalty-free license to distribute, publish, modify, edit or otherwise use your submissions. LUXE shall be entitled to the unrestricted use and dissemination of these submissions for any purpose, commercial or otherwise without any acknowledgement of or compensation to you.</p>
      
        <h3>GENERAL</h3>
        <p>We may assign, novate or subcontract any or all of our rights and obligations under these Terms at any time.</p>

        <h3>CONTACT US</h3>
        <p>LUXE Brands, Inc.</p>
        <p>6825 W. Sunrise Blvd.</p>
        <p>Plantation, FL 33313</p>
      
        <p>Contact us at 1-800-818-9770 to speak to a Customer Service Representative or alternatively drop an email to: customerservices@arianagrandefragrances.com.</p>
      
        <p>If these Terms do not address your question or if you would like to report a violation of our Code of Conduct, please contact us via phone: 1-800-818-9770 (Monday -Friday 8am-8pm EST).</p>
      
        <h3>EFFECTIVE DATE</h3>
      
        <p>These Terms are effective as of July 7, 2015.</p>
            </section>
    </div>
</div>