<div class="row">
    <div class="large-12 columns pageContent">
        <section>
        <h1>Terms &amp; Conditions</h1>
        <p align="center"><strong><span style="text-decoration: underline;">Ari by Ariana Grande, the debut fragrance, presents a once in a lifetime opportunity to meet Ariana Grande in person</span></strong></p>
        <p align="center"><strong><span style="text-decoration: underline;">PRIZE DRAW TERMS AND CONDITIONS </span></strong></p>
      
        <p><strong>NO PURCHASE NECESSARY TO ENTER THIS PRIZE DRAW. ENTRY IS FREE. </strong></p>
      
        <p>The following Terms and Conditions apply to the&nbsp; &lsquo;Ari by Ariana Grande, the debut fragrance, presents a once in a lifetime opportunity to meet Ariana Grande in person Prize Draw&rsquo; sponsored by Luxe Brands, Inc. and S A Designer Parfums Limited (the &ldquo;Prize Draw&rdquo;). By entering the Prize Draw, entrants agree to be bound by these Terms and Conditions.</p>
        <p><strong><span style="text-decoration: underline;">&nbsp;</span></strong></p>
        <ol>
            <li><strong>1.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">PRIZE DRAW ENTRY PERIOD</span></strong>: The Prize Draw will open at 7pm (BST) on 9 July 2015 (the &ldquo;Opening Date&rdquo;) and will close at 8pm (BST) on 17 August 2015 (the &ldquo;Closing Date&rdquo;). No entries will be accepted before the Opening Date or after the Closing Date.&nbsp;</li>
        </ol>
      
        <ol>
            <li><strong>2.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">ELIGIBILITY</span></strong><strong>: </strong>The Prize Draw is open to legal residents physically located in Great Britain, France, Germany and Japan who are thirteen (13) years of age or over at the time of entry. Entries are limited to one (1) per person.</li>
        </ol>
      
        <p><strong><span style="text-decoration: underline;">If any entrant is under eighteen (18) years of age at the time of entry (or under the age of twenty (20) in Japan), they must get their parent&rsquo;s or legal guardian&rsquo;s permission (or if the entrant resides in Germany they must get the permission of both their parents or legal guardians) to participate before entering the Prize Draw. Each minor entrant&rsquo;s parent or legal guardian agrees to be bound by these Terms &amp; Conditions both individually and on behalf of the entrant.</span></strong></p>
      
        <p>The Promoters reserve the right to request proof of residency, age, and parent&rsquo;s or legal guardian&rsquo;s permission where applicable (to the Promoter&rsquo;s satisfaction in their sole discretion) prior to issuing a Prize to any winner.</p>
      
        <p>The Prize Draw is specifically closed to employees of the Promoters and with regards to each Promoter its parent company, its subsidiaries, and all associated companies, and any other company, organisation or person assisting or connected with the Prize Draw, and their immediate family members (spouse, parent, child, sibling, and their respective spouses) and those living in the same household as each of the foregoing (whether legally related or not).</p>
      
        <p>The Prize Draw is void wherever it is prohibited or restricted by law, to the full extent that it is prohibited by the law applicable to the each entrant. By entering the Prize Draw, each entrant represents and warrants that they meet all the eligibility requirements set out in these Terms and Conditions and acknowledges that failure to meet all eligibility requirements will disqualify the entrant from the Prize Draw.</p>
        <p><strong>&nbsp;</strong></p>
        <p>Third party or bulk entries will not be accepted. Entries not in accordance with these Terms and Conditions are invalid. Entries comprised of anything which is obscene or vulgar, abusive, harmful, threatening, libellous, defamatory, invasive, profane or otherwise unlawful shall be deemed to be invalid.&nbsp; The Promoters reserve the right, at their sole and absolute discretion, to disqualify any entrant who is found to be, or suspected of, acting in violation of these Terms and Conditions, or to be acting in an un-sportsmanlike, obscene, immoral, or disruptive manner, or with the intent to annoy, abuse, threaten, or harass any other person.</p>
      
        <ol>
            <li><strong>3.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">HOW TO ENTER</span></strong><strong>: </strong>In order to enter the Prize Draw, you must visit the Prize Draw entry page at <a href="http://www.mitre.com/winatrip">www.arianagrandefragrances.com</a> (the &ldquo;Website&rdquo;) and complete the entry form with the following details:</li>
        </ol>
      
        <ul>
            <li>your answer to the following question: &ldquo;What is the name of Ariana&rsquo;s first single?&rdquo;;</li>
            <li>your first name and last name, age, gender (optional), country of residence, and email address;</li>
            <li>tick the check boxes to confirm (a) that you have read and accept the Terms and Conditions, and (b) that you have your parent&rsquo;s or guardian&rsquo;s permission to enter (where applicable); and</li>
            <li>click &lsquo;Submit&rsquo;,</li>
        </ul>
      
        <p>(together, the &ldquo;Entry&rdquo;).</p>
        <p>NO PURCHASE OF ANY KIND IS NECESSARY TO TAKE PART IN THE PRIZE DRAW. You do not have to buy or subscribe to any Ariana Grande fragrance products or services in order to enter the Prize Draw.</p>
      
        <ol>
            <li><strong>4.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">PRIZES</span></strong><strong>: </strong>There will be one (1) prize in total. The odds of winning the prize will depend on the total number of correct and valid Entries received. The prize will be a trip for two (2) people (winner plus a guest) to meet Ariana Grande in London&nbsp; and will comprise of:</li>
        </ol>
      
        <ul>
            <li>two (2) economy class return flights (or such other mode of transport (including ground transportation) as the Promotor deems, in its sole discretion, to be appropriate) from an airport (or such other travel departure point) in the country of the winner (such departure point to be determined by the Promoters in their sole discretion) to London;</li>
            <li>transport from the airport (or such other travel destination point) to the hotel on arrival; travel to and from the meeting with Ariana Grande; and transport from the hotel back to the airport (or other travel departure point) on departure;&nbsp;</li>
            <li>two (2) nights, double or twin room accommodation in a 4* hotel, and all meals and beverages at the hotel (up to a maximum of &pound;100 per day in total (this includes meals and beverages for both the winner and their guest));</li>
            <li>a surprise gift bag; and</li>
            <li>a meet and greet opportunity with Ariana Grande including a photo opportunity for the winner (and their guest) with Ariana Grande,</li>
        </ul>
      
        <p>(collectively, the &ldquo;Prize&rdquo;).</p>
      
        <p>The approximate total retail value (&ldquo;ARV&rdquo;) of the Prize is: &pound;3,054.00</p>
      
        <p>If the Promoters decide, in their sole discretion, to provide return ground transportation instead of return flights to the winner and their guest, in such event the winner will not receive a substitute prize or compensation of any kind. Any amount of the daily meal and beverages allowance not used by the winner and their guest cannot be rolled over to another day and the winner and their guest will not receive compensation of any kind; the daily meal and beverages allowance cannot be redeemed against anything else.&nbsp;</p>
      
        <p>The actual value of the Prize will depend on the location of the winner, airfares (and/or other transport fares) at the time of travel. Therefore, the value of the Prize awarded may be lower or higher than the ARV at the time the Prize is fulfilled. Any difference between the actual value of the Prize and the ARV of the Prize will not be awarded to the winner. Any costs associated with the receipt and/or use of the Prize that are not expressly stated above are not included in the Prize and are the sole responsibility of the winner and their guest. Such costs may include, without limitation, any additional ground transportation, additional meals and beverages, incidentals, tips, telephone calls, trip insurance, spending money, and other personal costs and expenses not specified herein but relating to use or acceptance of a Prize.</p>
      
        <p>All companies and persons associated with the Prize, including without limitation&nbsp; manufacturers and suppliers/providers of the Prize (or parts thereof) do not endorse the Prize Draw. The Prize is not negotiable, and non-transferable, with no cash redemptions, equivalents or substitutions except at the Promoter&rsquo;s sole and absolute discretion. All Prize details not specified in these Terms and Conditions (including without limitation the location of the airport (or train station, or alternative travel departure point) and the choice of hotel) will be determined in the Promoters&rsquo; sole and absolute discretion after the winner has been successfully notified in accordance with these Terms and Conditions. The Prize may not be altered or varied at the Promoters&rsquo; discretion unless for a serious reason. The Prize is subject to availability. Prize details and availability are subject to change (if for a serious reason), and are subject to the Prize providers&rsquo; (including without limitation the airline&rsquo;s and hotel&rsquo;s) rules and restrictions. In the event that Promoters are unable to provide the winner with their Prize (or any part thereof), the Promoters may elect, in their sole discretion, to provide the winner with the approximate value of such item in cash or award an alternate prize of comparable or greater value. In the event the winner (and/or guest) engage in behaviour that (as determined by the Promoters or any Prize provider in its or their sole and absolute discretion) is obnoxious, inappropriate, or threatening, illegal or that is intended to annoy, abuse, threaten or harass any other person, the Promoters reserve the right to terminate the right to receive the Prize, including ending a trip or other applicable experience early. The Prize is awarded &ldquo;AS IS&rdquo; and without warranty of any kind, express or implied (including, without limitation, any implied warranty of merchantability or fitness for a particular purpose). The Prize winner will be solely responsible for all federal, state, national and/or local taxes, and for any other fees or costs associated with the Prize they receive (other than those taxes or fees associated with the flight, other transport included as part of the Prize, entry into and departure from the United Kingdom, and the hotel), regardless of whether they, in whole or in part, are used, and may be required to sign tax documents&nbsp; and pay taxes on the value of the Prize. The ARV of the Prize is based on available information provided to the Promoter and the value of the Prize awarded to the winner may be reported for tax purposes as required by law.</p>
      
        <p><strong><span style="text-decoration: underline;">If the winner is under the age of </span></strong><strong><span style="text-decoration: underline;">eighteen (18) (or under the age of twenty (20) in Japan) at the time of winning, then the winner&rsquo;s parent or legal guardian (who must be over the age of eighteen (18) (or over the age of twenty (20) in Japan)) must accompany the winner as their guest in the participation of the Prize. This means that the winner&rsquo;s parent or legal guardian must accompany the winner to meet Ariana Grande and must remain with the winner at all times with regards to all elements, aspects, and activities related to and included as part of the Prize. The Promoters make no representation or warranty as to the safety, conditions or any other issues that may exist at any destination.&nbsp; </span></strong></p>
      
        <p>By entering the Prize Draw, each entrant represents and warrants that they:</p>
      
        <ul>
            <li>have read, understand, and will adhere to these Terms and Conditions;</li>
            <li>and their guest meet the age and residence criteria set out in these Terms and Conditions;</li>
            <li>and their guest each hold a fully valid passport (the Promoters recommend that each passport has a minimum of six (6) months validity from 30 November 2015 if required by the local authorities at the point of destination);</li>
            <li>and their guest each hold the required visas to travel to London between 1 September 2015 and 30 November 2015; and</li>
            <li>and their guest make their own travel insurance (and any other applicable insurance) arrangements (as required by the winner and/or their guest).</li>
        </ul>
      
        <p><strong><span style="text-decoration: underline;">The Promoters reserve the right to disqualify any winner and their guest if the Promoters subsequently discover that either of them does not meet all of the criteria set out above.&nbsp; </span></strong></p>
      
        <p>Additional conditions relating to the Prizes:</p>
      
        <ul>
            <li>the winner and their guest must be available to travel to London between the dates of 1 September 2015 and 30 November 2015. The Promoters will inform the winner of the actual travel dates once the winner has been successfully notified of their success in the Prize Draw in accordance with these Terms and Conditions. The winner and their guest will be required to travel on the identical itinerary;</li>
            <li>the winner is responsible for ensuring that they do not miss their flights and/or other travel arrangements. The Promoters will not be responsible for the cost or organisation of alternative travel;</li>
            <li>the winner is responsible for ensuring that they arrive on time to the venue to meet Ariana Grande (time and venue to be notified to the winner after they have been successfully notified of their success in the Prize Draw in accordance with these Terms and Conditions);</li>
            <li>the Promoters accept no responsibility for the winner or their guest being refused entry to the airline (or other transport) and/or the UK and/or ejection from the accommodation, and in such cases the Promoters will not be responsible for covering any additional costs and/or legal fees;</li>
            <li>the Promoters shall not be liable for any travel delays, cancellations and/or any additional costs or expense incurred by the winner or their guest;</li>
            <li>spending money, additional meals and beverages, travel insurance, passports, optional activities, gratuities, and all other ancillary costs are the responsibility of the winner and their guest;</li>
            <li>the winner and their guest will be responsible for obtaining any insurance cover and travel visas which they require to travel to and from the UK (as applicable); and</li>
        </ul>
        <p>the Promoters will not replace any lost or stolen tickets, vouchers, certificates, Prize or parts thereof, once they are in the winner&rsquo;s possession.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Entrants agree to defend, indemnify and hold the Promoters and with regards to each Promoter their parent company, subsidiaries, successors, assigns, licensors, and licensees, harmless from and against any third party claim relating to any breach of any representation, warranty or covenant made by such entrant in connection with their participation in the Prize Draw.</strong></p>
      
        <ol>
            <li><strong>5.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">SELECTION AND NOTIFICATION OF WINNER</span></strong><strong>:</strong> One (1) winner will be randomly selected by a panel including an independent moderator from all correct and valid Entries submitted in accordance with these Terms and Conditions on 18 August 2015. The panel&rsquo;s decision is final and no correspondence will be entered into regarding the panel&rsquo;s decision.</li>
        </ol>
      
        <p>The winner will be notified on or by 19 August 2015 by email. If the winner does not respond to the email notification within five (5) days of the notification being sent, the winner will forfeit the Prize and the Promoter reserves the right to offer the Prize to the next randomly selected valid Entry until one (1) winner has been successfully contacted.</p>
      
        <p>The potential winner selected will be subject to confirmation of eligibility, and may be required (or, where applicable, their parent or legal guardian may be required) to sign an eligibility, consent and release form in relation to the validity of their Entry and their eligibility to enter the Prize Draw and win the Prize in accordance with these Terms and Conditions. If the winner (or their parent or legal guardian) does not sign the form when required by the Promoters, and within the specified time period, the Prize will be forfeited.</p>
      
        <p>The Promoters will contact the winner with further details of how to claim their Prize after the close of the Prize Draw.</p>
      
        <ol>
            <li><strong>6.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">POST PRIZE DRAW PUBLICITY</span></strong><strong>:</strong> Subject to applicable law, by entering this Prize Draw, all entrants agree to take part in post Prize Draw publicity at the request of the Promoters if they are selected to be a winner. By entering into the Prize Draw, entrants agree, consent to, and grant to the Promoters the right to use their name, image, likeness, voice, city, country, and/or other biographical information&nbsp; for advertising, promotional, marketing, and/or publicity purposes in connection with the Prize Draw, in all forms of media now and hereafter known (including without limitation marketing and promotional use in relation to the Prize Draw on the Promoter&rsquo;s (and its licensees&rsquo;, distributors&rsquo; and associated companies&rsquo;) websites and social networking platforms), worldwide in perpetuity, without any obligation or further notice or consideration. If the Promoters (or either of them) wish to use the aforementioned information for any other purpose, such use will be subject to the prior written agreement of the relevant entrant(s).</li>
        </ol>
      
        <ol>
            <li><strong>7.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">DATA COLLECTION / PRIVACY</span></strong><strong>:</strong> <strong>INFORMATION REGARDING PERSONAL DATA PROVIDED IN THE COURSE OF ENTERING THE PRIZE DRAW WILL BE COLLECTED, STORED AND PROCESSED IN A DATABASE FOR THE PURPOSE OF MANAGING ENTRY INTO, AND PROMOTING, THIS PRIZE DRAW. SUCH INFORMATION WILL NOT BE USED FOR ANY PURPOSE OTHER THAN AS STATED IN THESE TERMS AND CONDITIONS OR AS SEPARATELY ACCEPTED BY ENTRANTS. IF ENTRANTS HAVE SEPARATELY AGREED TO RECEIVE COMMUNICATIONS FROM THE PROMOTERS THEN THEIR PERSONAL DATA MAY BE USED FOR SUCH PURPOSES, INCLUDING DIRECT MARKETING, AND SUCH ENTRANTS AGREE THAT THEIR INFORMATION MAY BE TRANSFERRED OUT OF THE EEA TO THE USA. </strong></li>
        </ol>
        <p><strong>&nbsp;</strong></p>
        <p><strong>EACH ENTRANT&rsquo;S PARTICIPATION IN THIS PRIZE DRAW IMPLIES THEIR AUTHORISATION FOR: (I) THE COLLECTION, USE AND STORAGE OF THEIR PERSONAL DATA BY THE PROMOTERS, AND (II) THE TRANSFER OF THEIR PERSONAL DATA FROM THEIR COUNTRY OF RESIDENCE TO THE UK, AND (III) THE ONWARD TRANSFER OF THEIR PERSONAL DATA FROM THE UK TO THE USA, FOR THE PURPOSES OF ADMINISTERING THE PRIZE DRAW. ALL INFORMATION SUBMITTED TO THE PROMOTERS AS PART OF THIS PRIZE DRAW WILL BE TREATED IN ACCORDANCE WITH THESE TERMS AND CONDITIONS AND WILL BE HELD AND PROCESSED IN ACCORDANCE WITH THE REQUIREMENTS OF THE UK DATA PROTECTION ACT 1998 AND ANY OTHER APPLICABLE DATA PROTECTION LEGISLATION.</strong></p>
      
        <ol>
            <li><strong>8.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">RELEASES, WAIVERS AND DISCLAIMERS; LIMITATION OF LIABILITY</span></strong><strong>:</strong>&nbsp; By entering the Prize Draw, entrants agree to release, discharge, and hold harmless the Promoters and with regards to each Promoter its parent company, subsidiaries, affiliates, licensors, licensees, agents, representatives, retailers, distributors, and advertising and promotion agencies, and each of their respective directors, officers, employees, agents, successors and assigns (collectively, the "Released Parties"), from any and all liability, claims, losses, injuries, demands, damages, actions, and/or causes of action, whether direct or indirect, which may be due to or arise out of or in connection with participation in the Prize Draw and/or while preparing for or participating in any Prize Draw-related activity (including, without limitation, liability for any property loss, damage, violation of rights of publicity or privacy, or claims of defamation or portrayal in a false light; or based on any claim of infringement of intellectual property) to the greatest extent permitted by law.&nbsp; Entrants agree that the Released Parties shall have no responsibility or liability for human error; incorrect or inaccurate transcription of information; any technical malfunctions of the telephone network, computer equipment or systems, the Website, software, hardware, or Internet service provider utilised by the Promoters; interruption or inability to access the Website or any online service via the Internet due to hardware or software compatibility problems; any damage to entrant&rsquo;s (or any third person&rsquo;s) computer and/or its contents related to or resulting from any part of the Prize Draw; any lost/delayed data transmissions, omissions, interruptions, defects; and/or any other errors or malfunctions, even if caused by the negligence of, or intentionally by, the Released Parties. The Promoters may not acknowledge receipt of Entries.</li>
        </ol>
      
        <p><strong>Under no circumstances will any entrant be permitted to obtain awards for, and entrants hereby waives all rights to claim, punitive, incidental, consequential, or any other damages, other than for actual out-of-pocket expenses; all causes of action arising out of or connected with this Prize Draw, or any Prize awarded, shall be resolved individually, without resort to any form of class action; and any and all claims, judgments, and award shall be limited to actual out-of-pocket costs incurred, excluding legal fees and court costs.</strong></p>
      
        <p>Each entrant further agrees to indemnify and hold harmless Released Parties from and against any and all liability resulting or arising from the Prize Draw and to release all rights to bring any claim, action, or proceeding against Released Parties and hereby acknowledges that the Released Parties have neither made nor are in any manner responsible or liable for any warranty, representation, or guarantee, express or implied, in fact or in law relative to the Prize Draw or any component thereof.&nbsp;</p>
      
        <p>Nothing in these Terms and Conditions excludes or limits the Released Parties&rsquo; liability in respect of death or personal injury caused by the negligence of a Released Party or its directors, employees, agents or sub-contractors or any other liability which cannot be excluded or limited by law.</p>
      
        <ol>
            <li><strong>9.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><span style="text-decoration: underline;">SUSPENSION / MODIFICATION / TERMINATION</span></strong><strong>: </strong>In the event the Promoters are prevented from continuing with the Prize Draw by any event beyond their control, including, but not limited to, any acts or omissions of the manufacturers or other providers of the Prize (or parts thereof), the Promoters shall have the right to modify, suspend or terminate the Prize Draw. The Promoters reserve the right to modify, suspend or terminate the Prize Draw (including, without limitation, make changes to these Terms and Conditions) by giving not less than 24 hours&rsquo; prior notice to entrants and by posting a notice on www.arianagrandeperfumes.com, for a serious reason including, but not limited to, if in their sole and absolute discretion, they determine that the Prize Draw is technically impaired or corrupted or that fraud or technical problems, or failures or malfunctions have destroyed or severely undermined or impaired the integrity and/or feasibility of the Prize Draw.&nbsp;</li>
        </ol>
      
        <ol>
            <li><strong>10.&nbsp; </strong><strong><span style="text-decoration: underline;">GOVERNING LAW</span></strong><strong>: </strong>By entering this Prize Draw, entrants agree to be bound by these Terms and Conditions. All entry instructions form part of these Terms and Conditions. This Prize Draw is governed by English law or the law applicable to the entrant. All issues and questions concerning the construction, validity, interpretation and enforceability of these Terms and Conditions or of the rights and obligations of entrants, the Promoters or the Released Parties in connection with the Prize Draw will be governed by and construed in accordance with English law (or the law applicable to the entrant), and entrants (and their parent or legal guardian where applicable) and the Promoters submit to the non-exclusive jurisdiction of the courts of England.</li>
        </ol>
      
      
      
        <ol>
            <li><strong>11.&nbsp; </strong><strong><span style="text-decoration: underline;">LIST OF WINNERS</span></strong><strong>: </strong>The winner&rsquo;s name and country and/or county of residence will be made available after the winner has been successfully notified to those who send a self-addressed envelope to &lsquo;Ari by Ariana Grande, the debut fragrance, presents a once in a lifetime opportunity to meet Ariana Grande in person Prize Draw&rsquo;&rsquo; to Luxe Brands, Inc., at the address set out at the end of these Terms and Conditions. <strong>BY ENTERING INTO THIS PRIZE DRAW, EACH ENTRANT CONSENTS TO THE USE OF THEIR NAME(S) AND COUNTRY AND/OR COUNTY FOR THE PURPOSE SET OUT IN THIS PARAGRAPH. </strong>&nbsp;&nbsp;&nbsp;</li>
        </ol>
      
        <ol>
            <li><strong>12.&nbsp; </strong>&nbsp;<strong>MISCELLANEOUS</strong>: If any part of these Terms and Conditions is held by any court or other competent authority to be invalid or unenforceable, the remaining provisions of these Terms and Conditions will remain in full force and effect, to the fullest extent permitted by law. <strong>&nbsp;</strong></li>
        </ol>
      
        <ol>
            <li><strong>13.&nbsp; </strong>&nbsp;<strong>ENTRANTS FROM FRANCE</strong>: For entrants from France only, these Terms and Conditions have been translated into French. If there is any conflict between the Terms and Conditions in English and the French translation, the English Terms and Conditions will prevail to the extent of the conflict.</li>
        </ol>
      
        <ol>
            <li><strong>14.&nbsp; </strong><strong><span style="text-decoration: underline;">THE PROMOTERS</span></strong><strong>: </strong>The Promoters of this Prize Draw are Luxe Brands, Inc., 6825 West Sunrise Blvd., Plantation, FL 33313 and&nbsp; SA Designer Parfums Limited, Amertans Park, Bushey Mill Lane, Watford, Hertfordshire WD24 7JG.</li>
        </ol>
      
      
        <p align="center"><strong><span style="text-decoration: underline;">END OF TERMS AND CONDITIONS</span></strong></p>
      </section>
    </div>
</div>