<div class="row">
    <div class="large-12 columns pageContent">
        <section>
        <h1>TERMES ET CONDITIONS</h1>
            <p align="center">
                <strong><u>ARI PAR ARIANA GRANDE, la nouvelle fragrance, présente l’opportunité unique de rencontrer Ariana Grande en personne</u></strong>
            </p>
            <p align="center">
                <br/>
                <h3>REGLEMENT: TERMES ET CONDITIONS</h3>
            </p>
            <p>
                <strong>LES PARTICIPANTS DU JEU CONCOURS N’ONT AUCUNE OBLIGATION D’ACHAT ET LE JEU EST GRATUIT </strong>
            </p>
            <p>
                <br/>
                Les présents Termes et Conditions du Règlement s'appliquent au Jeu Concours «    <strong><u>ARI PAR ARIANA GRANDE, la nouvelle fragrance, présente l’opportunité unique de rencontrer Ariana Grande en personne” </u></strong>qui
                déterminera le gagnant par Tirage au Sort, ce Jeu Concours est sponsorisé par Luxe Brands, Inc. et S A Designer Parfums Limited (“le Jeu Concours”). La
                participation au Jeu Concours implique de la part des participants l’acceptation sans réserve du présent Règlement, déposé auprès de Franck Cherki,
                huissier de justice, 119 Avenue de Flandre, 75019 Paris.
            </p>
            <p>
                <br/>
                <strong><u>1. PERIODE PENDANT LAQUELLE LES PARTICIPANTS POURRONT PARTICIPER AU JEU CONCOURS</u></strong>
                : Le Jeu Concours s'ouvrira à 19h (fuseau horaire anglais UTC/GMT – soit une heure de plus en France) le 9 juillet 2015 (la “Date d'Ouverture") et se
                terminera à 20h (fuseau horaire anglais UTC/GMT – soit une heure de plus en France) le 17 août 2015 (« la Date de Clôture "). Aucune participation au Jeu
                Concours ne sera acceptée avant la Date d'Ouverture ou après la Date de Clôture.
            </p>
            <p>
                <br/>
                <strong><u>2. ÉLIGIBILITÉ </u></strong>
                : Le Jeu Concours est ouvert aux résidents légaux des pays suivants qui y sont physiquement installés : Grande-Bretagne, France, Allemagne et Japon qui
                auront au moins (13) ans ou plus au moment de la participation au Jeu Concours. La participation au Jeu Concours est limitée à une (1) par personne.
            </p>
            <p>
                <br/>
                <strong>
                    <u>
                        Si un participant français a moins de dix-huit (18) ans à la date de participation, il devra obtenir l’autorisation de ses parents ou de ses
                        représentants légaux avant de participer au Jeu Concours. Chaque parent ou représentant légal d’un participant mineur accepte d’être lié par les
                        Termes et Conditions du présent Règlement, individuellement et au nom du Participant.
                    </u>
                </strong>
            </p>
            <p>
                Les Organisateurs se réservent le droit de demander la preuve de la résidence, de l'âge et de l'autorisation des parents ou des responsables légaux le cas
                échéant (à la seule discrétion des Organisateurs) avant de transmettre un Prix au gagnant quel qu’il soit.
            </p>
            <p>
                <br/>
                La participation au Jeu Concours n’est pas permise aux employés des Organisateurs et de chacune de leurs sociétés mères, filiales, et toutes les sociétés
                associées, et n'importe quelle autre société, organisation ou personne assistant ou étant liée au Jeu Concours, et aux membres les plus proches de leurs
                familles respectives (conjoint, parent, enfants, frères et sœurs, et leurs conjoints respectifs) ainsi que ceux vivant dans le même foyer que chacun d’eux
                (qu’ils soient légalement liés ou non).
            </p>
            <p>
                La participation au Jeu Concours est nulle si elle est interdite par le présent Règlement ou par la loi, à la condition qu’elle soit interdite par la loi
                sur le Territoire du Participant concerné. En participant au Jeu Concours, chaque participant déclare et garantit qu'il répond aux exigences d'éligibilité
                figurant dans le présent Règlement et reconnaît qu’à défaut il sera disqualifié du Jeu Concours.
            </p>
            <p>
                La participation émanant de tiers ou les participations multiples ne seront pas acceptées. Les participations ne respectant pas les Termes et Conditions du
                présent Règlement seront considérées comme étant invalides.
            </p>
            <p>
                Les participations comportant quoi que ce soit d’obscène ou vulgaire, d’abusif, de néfaste, étant menaçantes, diffamatoires, irrespectueuses, profanes ou
                autrement illégales seront considérées comme étant invalides.
            </p>
            <p>
                Les Organisateurs se réservent le droit, à leur unique et seule discrétion, de disqualifier n'importe quel participant qui a agi, ou est suspecté d‘avoir
                agi, en violation des Termes et Conditions du présent Règlement ou qui a agi, de manière déloyale, obscène, immorale, ou perturbatrice, ou avec l'intention
                de nuire, de menacer, ou d’harceler une autre personne.
            </p>
            <p>
                <strong><u>3. CONDITIONS DE PARTICIPATION: </u></strong>
                Afin de participer au Jeu Concours, vous devez vous rendre sur le site: <a href="http://www.arianagrandefragrances.com">www.arianagrandefragrances.com</a>
                (le “site Internet") et compléter le formulaire de Participation avec les informations figurant ci-dessous:<strong><u></u></strong>
            </p>
            <ul type="disc">
                <li>
                    votre réponse à la question suivante : « Quel était le nom du premier titre d'Ariana ? » ;
                </li>
                <li>
                    votre prénom et nom de famille, âge, genre (optionnel), pays de résidence, et adresse e-mail ;
                </li>
            </ul>
            <p>
                Vous devez ensuite cocher la case confirmant (a) que vous avez lu et que vous acceptez les Termes et Conditions du présent Jeu Concours, et (b) que vous
                disposez de l’accord de vos parents ou représentants légaux pour participer (si applicable).
            </p>
            <p>
                Puis vous devez cliquer sur le bouton « Participer »
            </p>
            <p>
                ci après dénommée la "Participation").
            </p>
            <p>
                <br/>
                AUCUN ACHAT D’AUCUNE SORTE N'EST NÉCESSAIRE POUR PARTICIPER AU JEU CONCOURS. Vous ne devez pas acheter ni souscrire à aucun des produits ou services
                Fragrances d’Ariana Grande pour participer au Jeu Concours.
            </p>
            <p>
                <strong><u>4. PRIX</u></strong>
                : Il y aura un (1) Prix au total. Les chances de gagner le Prix dépendent du nombre total d’inscriptions admissibles reçues.
            </p>
            <p>
                Le Prix sera un voyage pour deux (2) personnes (le gagnant plus un invité de son choix) pour rencontrer Ariana Grande à Londres.
            </p>
            <p>
                Chaque Prix sera composé de :
            </p>
            <ul type="disc">
                <li>
                    deux (2) vols aller/retour en classe économique (ou tout autre mode de transport (transport au sol) selon ce que les Organisateurs estimeront le plus
                    approprié, à leur seule discrétion), d'un aéroport (ou d’un autre point de départ de voyage) dans le pays du gagnant (le point de départ du voyage sera
                    déterminé par les Organisateurs à leur seule et unique discrétion) vers Londres;
                </li>
                <li>
                    transport de l'aéroport (ou d’une autre destination de voyage) à l'hôtel dès l'arrivée; trajet jusqu’à et à partir du point de rendez-vous avec Ariana
                    Grande; et transport de l'hôtel jusqu’ à l'aéroport (ou jusqu’à l’autre point de départ du voyage) pour le départ ;
                </li>
                <li>
                    deux (2) nuits, en chambre double ou à deux lits dans un hôtel 4* et tous les repas et boissons à l'hôtel (dans la limite de 100 £ par jour au total –
                    cela inclura les repas et boissons tant du gagnant que de son invité);
                </li>
                <li>
                    un sac cadeau en surprise ; et
                </li>
                <li>
                    l’occasion d’une rencontre et d’échanges avec Ariana Grande, incluant une séance photographies avec Ariana Grande pour le gagnant (et son invité)
                </li>
            </ul>
            <p>
                (ci après dénommé le « Prix ").
            </p>
            <p>
                La valeur approximative du Prix est de 3054 £.
            </p>
            <p>
                Si les Organisateurs décident, à leur seule discrétion, de fournir un transport terrestre au lieu d’un transport aérien au gagnant et à son invité, le
                gagnant ne recevra pas de Prix complémentaire ou une compensation d’aucune sorte. Toute somme correspondant à la somme allouée quotidiennement pour les
                repas et les boissons pour le gagnant et son invité ne pourra pas être reportée sur un autre jour et le gagnant et son invité ne recevront aucune
                contrepartie.
            </p>
            <p>
                <br/>
                La valeur réelle du Prix dépendra de la localisation du gagnant, des tarifs aériens (et/ou du Prix des modes de transport terrestre) de l'heure du voyage.
            </p>
            <p>
                Par conséquent, la valeur du Prix attribuée pourra être inférieure ou supérieure à la valeur du Prix indiquée ci-dessus lorsque le Prix sera remis au
                gagnant. Toute différence entre la valeur réelle d'un Prix et la valeur approximative indiquée ci-dessus ne sera pas attribuée au gagnant. Tous les coûts
                qui seront associés à la réception et/ou à une utilisation non expressément énoncée ci-dessus ne seront inclus dans le Prix et sont de la responsabilité
                unique du gagnant et de son invité. De tels coûts pourraient notamment être n'importe quel transport terrestre supplémentaire, repas supplémentaires et
                boissons, choses fortuites, pourboires, appels téléphoniques, assurance de voyage, dépenses d'argent, et d'autres coûts et dépenses personnels non
                spécifiés ci-dessus mais en lien avec l'utilisation ou l'acceptation d'un Prix.
            </p>
            <p>
                Toutes les sociétés et les personnes associées au Prix, incluant sans limitation les fabricants du Prix et les fournisseurs/prestataires du Prix (ou partie
                du Prix) ne sont pas partie au Jeu Concours.
            </p>
            <p>
                Le Prix n’est pas négociable, ni transférable, ne peut pas être échangé contre de l’argent ou contre toute autre chose sauf à obtenir l’accord des
                Organisateurs qui le donneront ou non à leur seule et unique discrétion.
            </p>
            <p>
                Tous les détails du Prix qui ne sont pas spécifiés dans le présent Règlement (et notamment le lieu de l'aéroport (ou de la gare ou du point de départ
                alternatif de voyage) ; le choix de l'hôtel ; seront déterminés ultérieurement et à la seule et unique discrétion des Organisateurs quant aux modalités,
                après que le gagnant ait été notifié avec succès conformément aux Termes et Conditions du présent Règlement.
            </p>
            <p>
                Le Prix ne pourra pas changer ou varier à la seule discrétion des Organisateurs sauf pour une raison sérieuse. Le Prix est sujet à la disponibilité. Les
                détails du Prix et sa disponibilité sont sujets à changement, et sont sujets aux règles et restrictions du fournisseur professionnel du Prix (incluant
                notamment la compagnie aérienne, ou les autres modes de transport et l’hôtel).
            </p>
            <p>
                Au cas où les Organisateurs ne pourraient pas fournir à le gagnant son Prix (ou une partie de celui-ci), les Organisateurs pourront, à leur seule
                discrétion, fournir au gagnant la valeur approximative d'un tel prix en numéraire ou lui attribuer un Prix alternatif de valeur comparable ou supérieure.
            </p>
            <p>
                Dans l’éventualité selon laquelle le gagnant (et/ou son invité) se comporte (tel que déterminé par les Organisateurs ou tout fournisseur professionnel à
                leur unique et absolue discrétion) de manière désagréable, inadéquate, ou menaçante, illégale ou ce qui serait considéré comme ayant pour objet de nuire,
                d’agresser, de menacer ou d’harceler une autre personne, les Organisateurs se réservent le droit de mettre fin au droit du gagnant de recevoir un Prix, y
                compris celle de mettre fin au voyage ou à toute autre expérience de manière prématurée.
            </p>
            <p>
                Le Prix est attribué « TEL QUEL » et sans garantie d’aucune sorte, expresse ou implicite (comprenant, sans limitation, toute garantie implicite de valeur
                marchande ou de conformité dans un but spécifique).
            </p>
            <p>
                Le gagnant du Prix sera seul responsable de tous les impôts locaux, fédéraux, d'état, nationaux et/ou, et de tous les frais ou coûts liés au Prix qu’il
                reçoit (autres que les taxes ou frais liés au transport en avion ou par un autre mode de transport qui seraient partie du Prix, entrée et le départ
                d’Angleterre, et de l’hôtel), peu importe que le Prix soit ou non utilisé, et il devra signer tous les documents d'impôts, et payer les éventuels impôts
                dont il serait redevable sur la valeur du Prix.
            </p>
            <p>
                La valeur approximative du Prix est basée sur des informations disponibles fournies aux Organisateurs et la valeur de tout Prix attribué au gagnant devra
                être prise en compte et transmise aux impôts selon les exigences de la loi.
            </p>
            <p>
                <br/>
                <strong>
                    <u>
                        Si le gagnant a moins de dix-huit ans (18) au moment du gain du Prix, un des parents du gagnant ou un de ses représentants légaux (qui devra avoir
                        plus de dix-huit (18) ans) devra accompagner le gagnant en tant qu’invité dans la participation du Prix. Ceci signifie que l’un des parents ou l’un
                        des représentants légaux du gagnant devra accompagner le gagnant pour rencontrer Ariana Grande et devra rester avec le gagnant à tout moment en
                        lien avec tous les éléments, aspects, et activités liées et inclues dans le Prix. Les Organisateurs ne donnent aucune garantie quant à la sécurité,
                        les conditions ou toute autre difficulté qui pourrait exister à n’importe quel moment dans quelque lieu que ce soit.
                    </u>
                </strong>
            </p>
            <p>
                <br/>
                En participant au Jeu Concours, chaque participant déclare et garantit qu’il:
            </p>
            <p>
                · a lu, compris et adhère sans réserve aux Termes et Conditions du présent Règlement;
            </p>
            <p>
                · que leur invité a bien l’âge et remplit les critères de résidence prévus aux Termes et Conditions du présent Règlement;
            </p>
            <p>
                · que lui et son invité disposent d’un passeport valide (Les Organisateurs recommandent que chaque passeport ait un minimum de six (6) mois de validité
                antérieure au 30 novembre 2015 si sollicité par les autorités locales au point de destination) ;
            </p>
            <p>
                · que lui et son invité disposent des visas requis pour voyager à Londres entre le 1er septembre 2015 et le 30 novembre 2015 ;
            </p>
            <p>
                · que lui et son invité prennent leurs propres dispositions d'assurance de voyage (et toute autre assurance applicable) afférentes au voyage gagné dans le
                cadre dudit Prix (si cela est souhaité par le gagnant et/ou son invité).
            </p>
            <p>
                <strong>
                    <u>
                        Les Organisateurs se réservent le droit d'éliminer n'importe quel gagnant et son invité s’ils découvrent que l'un ou l'autre d’entre eux ne répond
                        pas à tous les critères présentés ci-dessus.
                    </u>
                </strong>
            </p>
            <p>
                <strong><u> </u></strong>
            </p>
            <p>
                Conditions supplémentaires concernant le Prix :
            </p>
            <p>
                · le gagnant et son invité doivent être disponibles pour voyager à Londres entre le 1er septembre 2015 et le 30 novembre 2015. Les Organisateurs
                informeront le gagnant des dates définitives de voyage une fois que le gagnant aura été avec succès avisé de son succès au Jeu Concours dans les conditions
                prévues au présent Règlement. Le gagnant et son invité devront voyager selon un itinéraire identique ;
            </p>
            <p>
                · Le gagnant devra s'assurer qu'il ne manquera pas ses vols et/ou ses autres modalités de voyage. Les Organisateurs ne seront pas responsable du coût ou de
                l'organisation du voyage alternatif en cas de difficulté ;
            </p>
            <p>
                · Le gagnant devra s'assurer que lui et son invité arriveront à l'heure au lieu de rendez-vous afin de rencontrer Ariana Grande (l’heure et le lieu du
                rendez-vous seront annoncés au gagnant après qu'il ait été avec succès avisé de son succès au Jeu Concours dans les conditions prévues au présent
                Règlement);
            </p>
            <p>
                · les Organisateurs n’encourent aucune responsabilité si le gagnant ou son invité étaient refusés d’entrer dans l’avion (ou dans un autre transport) et/ou
                du Royaume Uni et/ou du logement, et dans une telle hypothèse les Organisateurs ne seront pas responsables et ne couvriront aucun frais supplémentaires
                et/ou frais juridiques ;
            </p>
            <p>
                · les Organisateurs ne seront pas responsables des éventuels retards de voyage, annulations et/ou aucun frais supplémentaires ou dépense supportés par le
                gagnant et/ou son invité ;
            </p>
            <p>
                · les dépenses d'argent, les repas et boissons additionnels, l’assurance de voyage, les passeports, les activités facultatives, les pourboires, et tous
                autres frais accessoires sont de la seule responsabilité du gagnant et de son invité;
            </p>
            <p>
                · le gagnant et son invité seront responsables de l’obtention des couvertures d’assurance et de tous les visas qui seraient nécessaires pour voyager depuis
                et jusqu’au Royaume Uni; et
            </p>
            <p>
                · les Organisateurs ne remplaceront aucun billets, bons, certificats, Prix ou partie du Prix, perdus ou volés une fois qu'ils sont en possession du gagnant
                et/ou de son invité;
            </p>
            <p>
                <br/>
                <strong>
                    Les Participants acceptent de défendre, d’indemniser et de garantir les Organisateurs et chacune de leurs sociétés mères, de ses filiales, successeurs,
                    sociétés liées, licenciés, concédants, de tout préjudice qui résulterait d’une réclamation de tiers pour toute fausse déclaration, garantie ou
                    engagement fait par un participant en relation avec sa participation ou la participation de son invité au Jeu Concours.
                </strong>
            </p>
            <p>
                <br/>
                <strong><u>5. SÉLECTION ET AVIS DU GAGNANT</u></strong>
                :
            </p>
            <p>
                Un (1) gagnant sera aléatoirement sélectionné par un jury comprenant un modérateur indépendant parmi l’ensemble des bulletins de participation soumis
                conformément aux Termes et Conditions du présent Règlement au 18 août 2015. La décision du jury est définitive et il ne sera pas possible de la contester
                par écrit.
            </p>
            <p>
                <br/>
                Le gagnant sera notifié en date du 19 août 2015 par email. Si le gagnant ne répond pas à la notification effectuée par email dans un délai de cinq (5)
                jours à compter de la date à laquelle la notification sera envoyée, le gagnant sera considéré comme ayant renoncé au Prix et les Organisateurs se
                réserveront alors le droit d'offrir le Prix au prochain bulletin de participation aléatoirement sélectionné dans les conditions définies ci-dessus jusqu'à
                ce qu’un (1) gagnant ait été avec succès contacté.
            </p>
            <p>
                Le gagnant potentiel qui aura été sélectionné le sera sous réserve de la confirmation de son éligibilité à la participation du présent Jeu Concours, et il
                pourra lui être demandé (ou, le cas échéant, à ses parents ou représentants légaux) de signer un formulaire d’éligibilité, d’autorisation et de décharge
                relatif à la validité de sa Participation et son éligibilité à participer au Jeu Concours et à gagner le Prix conformément aux Termes et Conditions du
                présent Règlement. Si le gagnant (ou, le cas échéant, ses parents ou représentants légaux) ne signe pas le formulaire alors que les Organisateurs en
                expriment le besoin, dans le délai requis, le Prix sera réputé abandonné et perdu par le gagnant potentiel.
            </p>
            <p>
                <br/>
                Les Organisateurs contacteront le gagnant avec les modalités de remise de leur Prix après la Clôture du Jeu Concours.
            </p>
            <p>
                <strong><u>6. PUBLICITÉ POSTERIEURE A L’ATTRIBUTION DU PRIX DANS LE CADRE DU JEU CONCOURS: </u></strong>
                Sous réserve des dispositions de la loi applicable, en participant à ce Jeu Concours, tous les participants acceptent de prendre part et de participer à
                des opérations publicitaires portant sur le Jeu Concours à la demande des Organisateurs s’ils gagnent le Prix.
            </p>
            <p>
                En participant au Jeu Concours, les participants acceptent, consentent et autorisent les Organisateurs à utiliser leur nom, image, élément
                d’identification, voix, ville, pays, et/ou toute autre information biographique pour l'intégralité des supports et à toutes fins incluant notamment et sans
                limitation, la publicité, la promotion, le marketing , et/ou la communication en lien avec le Jeu Concours, dans tous les medias connus ou à venir
                (incluant notamment et sans limitation l’utilisation marketing et promotionnelle en lien avec le Jeu Concours sur les sites Web des Organisateurs et leurs
                réseaux sociaux (ainsi que ceux de ses licenciés, distributeurs et de ses sociétés associées) mondialement et sans limitation de durée, sans prévenance
                autre que celle résultant des présentes, et aucune contrepartie financière. Si les Organisateurs (ou l’un d’entre eux) souhaitent utiliser les éléments
                mentionnées ci-dessus pour un autre usage, un tel usage sera sujet à l’accord écrit du Participant concerné.
            </p>
            <p>
                <br/>
                <strong>
                    <u>
                        7. COLLECTE DE DONNÉES PERSONNELLES / VIE PRIVEE / INFORMATIONS CONCERNANT LA MANIERE DONT LES DONNEES PERSONNELLES SERONT COLLECTEES, STOCKEES ET
                        TRAITEES DANS UNE BASE DE DONNEES POUR GESTION, LA PROMOTION DU JEU CONCOURS. DE TELLES INFORMATIONS NE SERONT PAS UTILISEES POUR UN BUT AUTRE QUE
                        CELUI INDIQUE DANS LES TERMES ET CONDITIONS DU PRESENT REGLEMENT OU AUTRE QUE CELUI QUI AURAIT ETE PREALABLEMENT ACCEPTE PAR AILLEURS PAR LES
                        PARTICIPANTS. SI LES PARTICIPANTS ONT ACCEPTE PAR AILLEURS DE RECEVOIR DES COMMUNICATIONS DES ORGANISATEURS, DANS CES CONDITIONS LEURS DONNEES
                        PERSONNELLES POURRAIENT ETRE UTILISEES DANS UN TEL CADRE INCLUANT LE MARKETING DIRECT, ET LES PARTICIPANTS ACCEPTENT QUE LEURS INFORMATIONS SOIENT
                        TRANSFEREES A L’EXTERIEUR DE L’ESPACE ECONOMIQUE EUROPEEN VERSLES ETATS UNIS.
                    </u>
                </strong>
            </p>
            <p>
                <strong><u> </u></strong>
            </p>
            <p>
                LA PARTICIPATION DE CHAQUE PARTICIPANT A CE JEU CONCOURS IMPLIQUE LEUR AUTORISATION POUR :
            </p>
            <p>
                (i) LA COLLECTE, L’UTILISATION ET LE STOCKAGE DE LEURS DONNÉES PERSONNELLES, ET
            </p>
            <p>
                (ii) LE TRANSFERT DE LEURS DONNÉES PERSONNELLES À PARTIR DE LEUR PAYS DE RÉSIDENCE VERS LE ROYAUME UNI,
            </p>
            <p>
                (iii) LE TRANSFERT DE LEURS DONNÉES PERSONNELLES À PARTIR DU ROYAUME UNI VERS LES ETATS-UNIS, AUX FINS D'ADMINISTRER LE JEU CONCOURS.
            </p>
            <p>
                TOUTE INFORMATION SOUMISE AUX ORGANISATEURS EN TANT QU'ELEMENT DE CE JEU CONCOURS SERA CONSERVEE ET TRAITEE SELON LES CONDITIONS DE LA UK DATA PROTECTION
                ACT 1999 ET TOUT AUTRE APPLICABLE PROTECTION DES DONNÉES LÉGISLATION<a href="#_ftn1" name="_ftnref1" title="">[1]</a>.
            </p>
            <p>
                <strong><u>8. DESISTEMENT, EXONERATION DE RESPONSABILITE ET LIMITATION DE RESPONSABILITÉ :</u></strong>
                <strong> </strong>
            </p>
            <p>
                En participant au Jeu Concours, les participants acceptent de décharger et d’exonérer les Organisateurs et à l’égard de chacun d’entre eux , sa société
                mère, ses filiales, ses sociétés affiliées, ses licenciés, ses concédants, ses agents, ses représentants, ses détaillants, ses distributeurs, et ses
                agences de publicité et de communication, ainsi que chacun de leurs directeurs respectifs, dirigeants, employés, agents, successeurs et ayant droits
                (collectivement, « les Parties Libérées »), de toute responsabilité, réclamations, pertes, blessures, demandes, dommages, actions, et/ou causes d'action,
                directes ou indirectes, qui sont dues, liées ou proviendraient de la participation au Jeu Concours et/ou liées à la préparation ou à la participation de
                toute Activité liée au Jeu Concours (comprenant, sans limitation, le responsabilité pour toute perte matérielle, dommages, violation des droits de
                publicité ou relatifs à l’intimité de la vie privée, ou réclamations fondée sur de la diffamation ou sur une présentation erronée; ou basé sur n'importe
                quelle demande fondée sur une atteinte à un droit de propriété intellectuelle) dans la plus large mesure permise par loi. <strong><u></u></strong>
            </p>
            <p>
                Les Participants acceptent que les Parties Libérées n’encourent aucune responsabilité quelle qu’elle soit, y compris pour faute humaine; transcription
                incorrecte ou inexacte d'informations; défaillances techniques du réseau téléphonique, du matériel informatique ou des systèmes informatiques, du site Web,
                des logiciels, du matériel, ou du fournisseur de service Internet utilisé par les Organisateurs; interruption ou incapacité d'accéder au site Web ou à tout
                service en ligne par l'intermédiaire de l'Internet dû au matériel ou aux problèmes de compatibilité logicielle ; tout dommage à l'ordinateur du participant
                (ou d’une tierce personne autre personne) et/ou son contenu lié à ou résultant de toute partie du Jeu Concours ; toute perte ou retard de transmission de
                données, omissions, interruptions, défauts ; et/ou d’autres erreurs et dysfonctionnements, même s’ils sont causés par la négligence, ou l’intention des
                Parties Libérées.
            </p>
            <p>
                Les Organisateurs pourraient ne pas accuser réception des participations.
            </p>
            <p>
                <br/>
                <strong>
                    En aucun cas, l’un des quelconques participants ne pourra obtenir de compensations, et les participants écartent par la présente tous les droits de
                    réclamer des dommages punitifs, fortuits, consécutifs, ou tout autre dommage, autre que pour des frais effectivement engagés; toutes les autres causes
                    d'action provenant de ou liées au Jeu Concours, ou de n'importe quel Prix attribué, devront être résolues individuellement, sans engagement de quelque
                    action collective que ce soit; et l'intégralité des réclamations, des demandes, des jugements et des sommes obtenues devront être limitées aux sommes
                    effectivement engagées à l’exception des frais de justice et de procédure.
                </strong>
            </p>
            <p>
                Chaque participant accepte également de garantir et de dégager les Parties Libérées de toute responsabilité résultant ou provenant du Jeu Concours et
                renonce à tous ses droits d’engager une demande, action ou procédure à l’encontre des Parties Libérées et reconnaît par la présente que les Parties
                Libérées ne sont de quelle façon que ce soit responsable ou tenues de quelle que garantie, déclaration expresse ou implicite, en fait ou légalement
                relative au Jeu Concours ou à n'importe quel composant s'y rapportant.
            </p>
            <p>
                <br/>
                Rien dans ces Termes et Conditions n'exclut ou ne limite la responsabilité des Parties Libérées en ce qui concerne la mort ou un dommage corporel qui
                serait provoqué par la négligence d'une des Parties Libérées ou de ses directeurs, employés, agents ou sous-traitants ou toute autre responsabilité qui ne
                peut être exclue ou limitée par la loi.
            </p>
            <p>
                <strong><u>9. SUSPENSION/MODIFICATION/ARRÊT : </u></strong>
                Si les Organisateurs sont empêchés de continuer le Jeu Concours en raison de n'importe quel événement indépendant de leur volonté, y compris, notamment,
                tous les actes ou les omissions des fabricants ou d'autres fournisseurs du Prix (ou des éléments s'y rapportant), les Organisateurs auront le droit de
                modifier, suspendre ou terminer le Jeu Concours.
            </p>
            <p>
                Les Organisateurs se réservent le droit de modifier, suspendre ou terminer le Jeu Concours (comprenant, sans limitation, apporter des modifications à ces
                Termes et Conditions en donnant une information préalable de pas plus de 24 heures aux Participants et en signalant la modification sur    <a href="http://www.arianagrandeperfumes.com">www.arianagrandeperfumes.com</a>, pour des raisons sérieuses, notamment, si à leur unique et absolue
                discrétion, les Organisateurs considèrent que le Jeu Concours est techniquement altéré ou corrompu en raison d’une fraude ou de problèmes techniques, ou si
                les échecs ou les défauts de fonctionnement ont détruit ou sévèrement miné ou altéré l'intégrité et/ou la faisabilité de le Jeu Concours.
            </p>
            <p>
                <br/>
                <strong><u>10. LOI APPLICABLE : </u></strong>
                En participant au Jeu Concours, les participants acceptent d'être liés par les Termes et Conditions du présent Règlement. <strong><u></u></strong>
            </p>
            <p>
                Toutes les instructions relatives aux participations font partie de ces Termes et Conditions.
            </p>
            <p>
                Ce Jeu Concours est régi par loi française. Toutes les difficultés et questions en lien avec la construction, la validité, l’interprétation et
                l’applicabilité de ces Termes et Conditions ou des droits et des obligations des participants, des Organisateurs ou des Parties Libérées en lien avec le
                Jeu Concours seront régies par et interprétées selon la loi française, et les Participants (et leurs parents ou représentants légaux le cas échéant) et les
                Organisateurs les soumettent à la juridiction exclusive des Tribunaux français (pour les participants français uniquement).
            </p>
            <p>
                <br/>
                <br/>
                <strong><u>11. LISTE DE GAGNANTS : </u></strong>
                Les noms du gagnant et le pays et/ou lieu de résidence seront rendus disponibles après que le gagnant ait été avec succès annoncé, à ceux qui enverront une
                enveloppe affranchie à « ARI PAR ARIANA GRANDE, la nouvelle fragrance, présente l’opportunité unique de rencontrer Ariana Grande en personne » à Luxe
                Brands Inc. à l'adresse figurant à la fin de ces Termes et Conditions. EN PARTICIPANT A CE JEU CONCOURS, CHAQUE PARTICIPANT CONSENT A CE QUE L’UTILISATION
                DE SES NOMS, NATIONALITE ET PAYS DE RESIDENCE SOIENT UTILISES DANS LES CONDITIONS INDIQUEES DANS LE PRESENT PARAGRAPHE.
            </p>
            <p>
                <strong><u>12. DIVERS</u></strong>
            </p>
            <p>
                Si une ou plusieurs clauses des Termes et Conditions du présent Règlement est considéré par quelque Tribunal que ce soit, ou autre autorité compétente,
                comme étant invalide ou non applicable, les autres clauses des présent Termes et Conditions continueront à s’appliquer et seront de plein effet, dans les
                conditions permises par la Loi.
            </p>
            <p>
                <strong><u>13. PARTICIPANTS FRANÇAIS</u></strong>
            </p>
            <p>
                Pour les Participants français uniquement, ces Termes et Conditions ont été traduits en français. S’il devait y avoir le moindre conflit entre les Termes
                et Conditions en anglais et en français, la version anglaise prévaudra.
            </p>
            <p>
                La traduction en français des termes et conditions du présent règlement n’a été réalisée que pour la compréhension des participants Français et ne saurait
                servir en aucune manière à interpréter les dispositions du présent Règlement en anglais qui doit être considéré comme constituant un tout autonome.
            </p>
            <p>
                <br/>
                <strong><u>13. LES ORGANISATEURS</u></strong>
                : Les Organisateurs de ce Jeu Concours sont Luxe Brands, Inc., 6825 West Sunrise Blvd. Plantation, FL33313 et SA Designer Parfums Limited, Amertans Park,
                Bushey Mill Lane, Watford, Hertfordshire WD24 7JG<strong><u></u></strong>
            </p>
            <strong><u>FIN DES TERMES ET CONDITIONS</u></strong>
            <br/>
            <br/>
            <div>
                <br clear="all"/>
                <hr align="left" size="1" width="33%"/>
                <div id="ftn1">
                    <p>
                        <a href="#_ftnref1" name="_ftn1" title="">[1]</a>
                        EN FRANCE, TOUTE INFORMATION SOUMISE AUX ORGANISATEURS EN TANT QU'ELEMENT DE CE JEU CONCOURS SERA CONSERVEE ET TRAITEE SELON LES CONDITIONS DE LA
                        LOI INFORMATIQUE ET LIBERTES DU 6 JANVIER 1978 N°78-17 RELATIVE A L’INFORMATIQUE, AUX FICHIERS ET AUX LIBERTES.
                    </p>
                    <p>
                        EN APPLICATION DE LA LOI N° 78-17 DU 6 JANVIER 1978, LES PARTICIPANTS SONT INFORMES QU’ILS DISPOSENT D’UN DROIT D’ACCES, DE MODIFICATION, DE
                        RECTIFICATION ET DE SUPPRESSION DES DONNEES LES CONCERNANT. LES PARTICIPANTS PEUVENT EXERCER CE DROIT PAR DEMANDE ECRITE ADRESSEE AUX
                        ORGANISATEURS.
                    </p>
                    <p>
                        LE TIMBRE NECESSAIRE A CETTE DEMARCHE SERA REMBOURSE SUR SIMPLE DEMANDE SUR LA BASE DU TARIF LENT " LETTRE " (20 G) EN VIGUEUR.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>