.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333em;
  line-height: 1em; }
  .flag-icon:before {
    content: '\00a0'; }
  .flag-icon.flag-icon-squared {
    width: 1em; }

.flag-icon-ad {
  background-image: url(/assets/img/flags/4x3/ad.svg); }
  .flag-icon-ad.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ad.svg); }

.flag-icon-ae {
  background-image: url(/assets/img/flags/4x3/ae.svg); }
  .flag-icon-ae.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ae.svg); }

.flag-icon-af {
  background-image: url(/assets/img/flags/4x3/af.svg); }
  .flag-icon-af.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/af.svg); }

.flag-icon-ag {
  background-image: url(/assets/img/flags/4x3/ag.svg); }
  .flag-icon-ag.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ag.svg); }

.flag-icon-ai {
  background-image: url(/assets/img/flags/4x3/ai.svg); }
  .flag-icon-ai.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ai.svg); }

.flag-icon-al {
  background-image: url(/assets/img/flags/4x3/al.svg); }
  .flag-icon-al.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/al.svg); }

.flag-icon-am {
  background-image: url(/assets/img/flags/4x3/am.svg); }
  .flag-icon-am.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/am.svg); }

.flag-icon-ao {
  background-image: url(/assets/img/flags/4x3/ao.svg); }
  .flag-icon-ao.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ao.svg); }

.flag-icon-aq {
  background-image: url(/assets/img/flags/4x3/aq.svg); }
  .flag-icon-aq.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/aq.svg); }

.flag-icon-ar {
  background-image: url(/assets/img/flags/4x3/ar.svg); }
  .flag-icon-ar.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ar.svg); }

.flag-icon-as {
  background-image: url(/assets/img/flags/4x3/as.svg); }
  .flag-icon-as.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/as.svg); }

.flag-icon-at {
  background-image: url(/assets/img/flags/4x3/at.svg); }
  .flag-icon-at.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/at.svg); }

.flag-icon-au {
  background-image: url(/assets/img/flags/4x3/au.svg); }
  .flag-icon-au.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/au.svg); }

.flag-icon-aw {
  background-image: url(/assets/img/flags/4x3/aw.svg); }
  .flag-icon-aw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/aw.svg); }

.flag-icon-ax {
  background-image: url(/assets/img/flags/4x3/ax.svg); }
  .flag-icon-ax.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ax.svg); }

.flag-icon-az {
  background-image: url(/assets/img/flags/4x3/az.svg); }
  .flag-icon-az.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/az.svg); }

.flag-icon-ba {
  background-image: url(/assets/img/flags/4x3/ba.svg); }
  .flag-icon-ba.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ba.svg); }

.flag-icon-bb {
  background-image: url(/assets/img/flags/4x3/bb.svg); }
  .flag-icon-bb.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bb.svg); }

.flag-icon-bd {
  background-image: url(/assets/img/flags/4x3/bd.svg); }
  .flag-icon-bd.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bd.svg); }

.flag-icon-be {
  background-image: url(/assets/img/flags/4x3/be.svg); }
  .flag-icon-be.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/be.svg); }

.flag-icon-bf {
  background-image: url(/assets/img/flags/4x3/bf.svg); }
  .flag-icon-bf.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bf.svg); }

.flag-icon-bg {
  background-image: url(/assets/img/flags/4x3/bg.svg); }
  .flag-icon-bg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bg.svg); }

.flag-icon-bh {
  background-image: url(/assets/img/flags/4x3/bh.svg); }
  .flag-icon-bh.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bh.svg); }

.flag-icon-bi {
  background-image: url(/assets/img/flags/4x3/bi.svg); }
  .flag-icon-bi.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bi.svg); }

.flag-icon-bj {
  background-image: url(/assets/img/flags/4x3/bj.svg); }
  .flag-icon-bj.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bj.svg); }

.flag-icon-bl {
  background-image: url(/assets/img/flags/4x3/bl.svg); }
  .flag-icon-bl.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bl.svg); }

.flag-icon-bm {
  background-image: url(/assets/img/flags/4x3/bm.svg); }
  .flag-icon-bm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bm.svg); }

.flag-icon-bn {
  background-image: url(/assets/img/flags/4x3/bn.svg); }
  .flag-icon-bn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bn.svg); }

.flag-icon-bo {
  background-image: url(/assets/img/flags/4x3/bo.svg); }
  .flag-icon-bo.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bo.svg); }

.flag-icon-bq {
  background-image: url(/assets/img/flags/4x3/bq.svg); }
  .flag-icon-bq.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bq.svg); }

.flag-icon-br {
  background-image: url(/assets/img/flags/4x3/br.svg); }
  .flag-icon-br.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/br.svg); }

.flag-icon-bs {
  background-image: url(/assets/img/flags/4x3/bs.svg); }
  .flag-icon-bs.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bs.svg); }

.flag-icon-bt {
  background-image: url(/assets/img/flags/4x3/bt.svg); }
  .flag-icon-bt.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bt.svg); }

.flag-icon-bv {
  background-image: url(/assets/img/flags/4x3/bv.svg); }
  .flag-icon-bv.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bv.svg); }

.flag-icon-bw {
  background-image: url(/assets/img/flags/4x3/bw.svg); }
  .flag-icon-bw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bw.svg); }

.flag-icon-by {
  background-image: url(/assets/img/flags/4x3/by.svg); }
  .flag-icon-by.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/by.svg); }

.flag-icon-bz {
  background-image: url(/assets/img/flags/4x3/bz.svg); }
  .flag-icon-bz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/bz.svg); }

.flag-icon-ca {
  background-image: url(/assets/img/flags/4x3/ca.svg); }
  .flag-icon-ca.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ca.svg); }

.flag-icon-cc {
  background-image: url(/assets/img/flags/4x3/cc.svg); }
  .flag-icon-cc.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cc.svg); }

.flag-icon-cd {
  background-image: url(/assets/img/flags/4x3/cd.svg); }
  .flag-icon-cd.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cd.svg); }

.flag-icon-cf {
  background-image: url(/assets/img/flags/4x3/cf.svg); }
  .flag-icon-cf.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cf.svg); }

.flag-icon-cg {
  background-image: url(/assets/img/flags/4x3/cg.svg); }
  .flag-icon-cg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cg.svg); }

.flag-icon-ch {
  background-image: url(/assets/img/flags/4x3/ch.svg); }
  .flag-icon-ch.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ch.svg); }

.flag-icon-ci {
  background-image: url(/assets/img/flags/4x3/ci.svg); }
  .flag-icon-ci.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ci.svg); }

.flag-icon-ck {
  background-image: url(/assets/img/flags/4x3/ck.svg); }
  .flag-icon-ck.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ck.svg); }

.flag-icon-cl {
  background-image: url(/assets/img/flags/4x3/cl.svg); }
  .flag-icon-cl.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cl.svg); }

.flag-icon-cm {
  background-image: url(/assets/img/flags/4x3/cm.svg); }
  .flag-icon-cm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cm.svg); }

.flag-icon-cn {
  background-image: url(/assets/img/flags/4x3/cn.svg); }
  .flag-icon-cn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cn.svg); }

.flag-icon-co {
  background-image: url(/assets/img/flags/4x3/co.svg); }
  .flag-icon-co.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/co.svg); }

.flag-icon-cr {
  background-image: url(/assets/img/flags/4x3/cr.svg); }
  .flag-icon-cr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cr.svg); }

.flag-icon-cu {
  background-image: url(/assets/img/flags/4x3/cu.svg); }
  .flag-icon-cu.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cu.svg); }

.flag-icon-cv {
  background-image: url(/assets/img/flags/4x3/cv.svg); }
  .flag-icon-cv.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cv.svg); }

.flag-icon-cw {
  background-image: url(/assets/img/flags/4x3/cw.svg); }
  .flag-icon-cw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cw.svg); }

.flag-icon-cx {
  background-image: url(/assets/img/flags/4x3/cx.svg); }
  .flag-icon-cx.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cx.svg); }

.flag-icon-cy {
  background-image: url(/assets/img/flags/4x3/cy.svg); }
  .flag-icon-cy.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cy.svg); }

.flag-icon-cz {
  background-image: url(/assets/img/flags/4x3/cz.svg); }
  .flag-icon-cz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/cz.svg); }

.flag-icon-de {
  background-image: url(/assets/img/flags/4x3/de.svg); }
  .flag-icon-de.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/de.svg); }

.flag-icon-dj {
  background-image: url(/assets/img/flags/4x3/dj.svg); }
  .flag-icon-dj.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/dj.svg); }

.flag-icon-dk {
  background-image: url(/assets/img/flags/4x3/dk.svg); }
  .flag-icon-dk.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/dk.svg); }

.flag-icon-dm {
  background-image: url(/assets/img/flags/4x3/dm.svg); }
  .flag-icon-dm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/dm.svg); }

.flag-icon-do {
  background-image: url(/assets/img/flags/4x3/do.svg); }
  .flag-icon-do.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/do.svg); }

.flag-icon-dz {
  background-image: url(/assets/img/flags/4x3/dz.svg); }
  .flag-icon-dz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/dz.svg); }

.flag-icon-ec {
  background-image: url(/assets/img/flags/4x3/ec.svg); }
  .flag-icon-ec.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ec.svg); }

.flag-icon-ee {
  background-image: url(/assets/img/flags/4x3/ee.svg); }
  .flag-icon-ee.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ee.svg); }

.flag-icon-eg {
  background-image: url(/assets/img/flags/4x3/eg.svg); }
  .flag-icon-eg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/eg.svg); }

.flag-icon-eh {
  background-image: url(/assets/img/flags/4x3/eh.svg); }
  .flag-icon-eh.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/eh.svg); }

.flag-icon-er {
  background-image: url(/assets/img/flags/4x3/er.svg); }
  .flag-icon-er.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/er.svg); }

.flag-icon-es {
  background-image: url(/assets/img/flags/4x3/es.svg); }
  .flag-icon-es.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/es.svg); }

.flag-icon-et {
  background-image: url(/assets/img/flags/4x3/et.svg); }
  .flag-icon-et.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/et.svg); }

.flag-icon-fi {
  background-image: url(/assets/img/flags/4x3/fi.svg); }
  .flag-icon-fi.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/fi.svg); }

.flag-icon-fj {
  background-image: url(/assets/img/flags/4x3/fj.svg); }
  .flag-icon-fj.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/fj.svg); }

.flag-icon-fk {
  background-image: url(/assets/img/flags/4x3/fk.svg); }
  .flag-icon-fk.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/fk.svg); }

.flag-icon-fm {
  background-image: url(/assets/img/flags/4x3/fm.svg); }
  .flag-icon-fm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/fm.svg); }

.flag-icon-fo {
  background-image: url(/assets/img/flags/4x3/fo.svg); }
  .flag-icon-fo.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/fo.svg); }

.flag-icon-fr {
  background-image: url(/assets/img/flags/4x3/fr.svg); }
  .flag-icon-fr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/fr.svg); }

.flag-icon-ga {
  background-image: url(/assets/img/flags/4x3/ga.svg); }
  .flag-icon-ga.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ga.svg); }

.flag-icon-gb {
  background-image: url(/assets/img/flags/4x3/gb.svg); }
  .flag-icon-gb.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gb.svg); }

.flag-icon-gd {
  background-image: url(/assets/img/flags/4x3/gd.svg); }
  .flag-icon-gd.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gd.svg); }

.flag-icon-ge {
  background-image: url(/assets/img/flags/4x3/ge.svg); }
  .flag-icon-ge.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ge.svg); }

.flag-icon-gf {
  background-image: url(/assets/img/flags/4x3/gf.svg); }
  .flag-icon-gf.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gf.svg); }

.flag-icon-gg {
  background-image: url(/assets/img/flags/4x3/gg.svg); }
  .flag-icon-gg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gg.svg); }

.flag-icon-gh {
  background-image: url(/assets/img/flags/4x3/gh.svg); }
  .flag-icon-gh.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gh.svg); }

.flag-icon-gi {
  background-image: url(/assets/img/flags/4x3/gi.svg); }
  .flag-icon-gi.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gi.svg); }

.flag-icon-gl {
  background-image: url(/assets/img/flags/4x3/gl.svg); }
  .flag-icon-gl.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gl.svg); }

.flag-icon-gm {
  background-image: url(/assets/img/flags/4x3/gm.svg); }
  .flag-icon-gm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gm.svg); }

.flag-icon-gn {
  background-image: url(/assets/img/flags/4x3/gn.svg); }
  .flag-icon-gn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gn.svg); }

.flag-icon-gp {
  background-image: url(/assets/img/flags/4x3/gp.svg); }
  .flag-icon-gp.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gp.svg); }

.flag-icon-gq {
  background-image: url(/assets/img/flags/4x3/gq.svg); }
  .flag-icon-gq.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gq.svg); }

.flag-icon-gr {
  background-image: url(/assets/img/flags/4x3/gr.svg); }
  .flag-icon-gr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gr.svg); }

.flag-icon-gs {
  background-image: url(/assets/img/flags/4x3/gs.svg); }
  .flag-icon-gs.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gs.svg); }

.flag-icon-gt {
  background-image: url(/assets/img/flags/4x3/gt.svg); }
  .flag-icon-gt.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gt.svg); }

.flag-icon-gu {
  background-image: url(/assets/img/flags/4x3/gu.svg); }
  .flag-icon-gu.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gu.svg); }

.flag-icon-gw {
  background-image: url(/assets/img/flags/4x3/gw.svg); }
  .flag-icon-gw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gw.svg); }

.flag-icon-gy {
  background-image: url(/assets/img/flags/4x3/gy.svg); }
  .flag-icon-gy.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/gy.svg); }

.flag-icon-hk {
  background-image: url(/assets/img/flags/4x3/hk.svg); }
  .flag-icon-hk.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/hk.svg); }

.flag-icon-hm {
  background-image: url(/assets/img/flags/4x3/hm.svg); }
  .flag-icon-hm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/hm.svg); }

.flag-icon-hn {
  background-image: url(/assets/img/flags/4x3/hn.svg); }
  .flag-icon-hn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/hn.svg); }

.flag-icon-hr {
  background-image: url(/assets/img/flags/4x3/hr.svg); }
  .flag-icon-hr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/hr.svg); }

.flag-icon-ht {
  background-image: url(/assets/img/flags/4x3/ht.svg); }
  .flag-icon-ht.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ht.svg); }

.flag-icon-hu {
  background-image: url(/assets/img/flags/4x3/hu.svg); }
  .flag-icon-hu.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/hu.svg); }

.flag-icon-id {
  background-image: url(/assets/img/flags/4x3/id.svg); }
  .flag-icon-id.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/id.svg); }

.flag-icon-ie {
  background-image: url(/assets/img/flags/4x3/ie.svg); }
  .flag-icon-ie.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ie.svg); }

.flag-icon-il {
  background-image: url(/assets/img/flags/4x3/il.svg); }
  .flag-icon-il.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/il.svg); }

.flag-icon-im {
  background-image: url(/assets/img/flags/4x3/im.svg); }
  .flag-icon-im.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/im.svg); }

.flag-icon-in {
  background-image: url(/assets/img/flags/4x3/in.svg); }
  .flag-icon-in.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/in.svg); }

.flag-icon-io {
  background-image: url(/assets/img/flags/4x3/io.svg); }
  .flag-icon-io.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/io.svg); }

.flag-icon-iq {
  background-image: url(/assets/img/flags/4x3/iq.svg); }
  .flag-icon-iq.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/iq.svg); }

.flag-icon-ir {
  background-image: url(/assets/img/flags/4x3/ir.svg); }
  .flag-icon-ir.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ir.svg); }

.flag-icon-is {
  background-image: url(/assets/img/flags/4x3/is.svg); }
  .flag-icon-is.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/is.svg); }

.flag-icon-it {
  background-image: url(/assets/img/flags/4x3/it.svg); }
  .flag-icon-it.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/it.svg); }

.flag-icon-je {
  background-image: url(/assets/img/flags/4x3/je.svg); }
  .flag-icon-je.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/je.svg); }

.flag-icon-jm {
  background-image: url(/assets/img/flags/4x3/jm.svg); }
  .flag-icon-jm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/jm.svg); }

.flag-icon-jo {
  background-image: url(/assets/img/flags/4x3/jo.svg); }
  .flag-icon-jo.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/jo.svg); }

.flag-icon-jp {
  background-image: url(/assets/img/flags/4x3/jp.svg); }
  .flag-icon-jp.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/jp.svg); }

.flag-icon-ke {
  background-image: url(/assets/img/flags/4x3/ke.svg); }
  .flag-icon-ke.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ke.svg); }

.flag-icon-kg {
  background-image: url(/assets/img/flags/4x3/kg.svg); }
  .flag-icon-kg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/kg.svg); }

.flag-icon-kh {
  background-image: url(/assets/img/flags/4x3/kh.svg); }
  .flag-icon-kh.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/kh.svg); }

.flag-icon-ki {
  background-image: url(/assets/img/flags/4x3/ki.svg); }
  .flag-icon-ki.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ki.svg); }

.flag-icon-km {
  background-image: url(/assets/img/flags/4x3/km.svg); }
  .flag-icon-km.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/km.svg); }

.flag-icon-kn {
  background-image: url(/assets/img/flags/4x3/kn.svg); }
  .flag-icon-kn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/kn.svg); }

.flag-icon-kp {
  background-image: url(/assets/img/flags/4x3/kp.svg); }
  .flag-icon-kp.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/kp.svg); }

.flag-icon-kr {
  background-image: url(/assets/img/flags/4x3/kr.svg); }
  .flag-icon-kr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/kr.svg); }

.flag-icon-kw {
  background-image: url(/assets/img/flags/4x3/kw.svg); }
  .flag-icon-kw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/kw.svg); }

.flag-icon-ky {
  background-image: url(/assets/img/flags/4x3/ky.svg); }
  .flag-icon-ky.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ky.svg); }

.flag-icon-kz {
  background-image: url(/assets/img/flags/4x3/kz.svg); }
  .flag-icon-kz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/kz.svg); }

.flag-icon-la {
  background-image: url(/assets/img/flags/4x3/la.svg); }
  .flag-icon-la.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/la.svg); }

.flag-icon-lb {
  background-image: url(/assets/img/flags/4x3/lb.svg); }
  .flag-icon-lb.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/lb.svg); }

.flag-icon-lc {
  background-image: url(/assets/img/flags/4x3/lc.svg); }
  .flag-icon-lc.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/lc.svg); }

.flag-icon-li {
  background-image: url(/assets/img/flags/4x3/li.svg); }
  .flag-icon-li.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/li.svg); }

.flag-icon-lk {
  background-image: url(/assets/img/flags/4x3/lk.svg); }
  .flag-icon-lk.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/lk.svg); }

.flag-icon-lr {
  background-image: url(/assets/img/flags/4x3/lr.svg); }
  .flag-icon-lr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/lr.svg); }

.flag-icon-ls {
  background-image: url(/assets/img/flags/4x3/ls.svg); }
  .flag-icon-ls.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ls.svg); }

.flag-icon-lt {
  background-image: url(/assets/img/flags/4x3/lt.svg); }
  .flag-icon-lt.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/lt.svg); }

.flag-icon-lu {
  background-image: url(/assets/img/flags/4x3/lu.svg); }
  .flag-icon-lu.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/lu.svg); }

.flag-icon-lv {
  background-image: url(/assets/img/flags/4x3/lv.svg); }
  .flag-icon-lv.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/lv.svg); }

.flag-icon-ly {
  background-image: url(/assets/img/flags/4x3/ly.svg); }
  .flag-icon-ly.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ly.svg); }

.flag-icon-ma {
  background-image: url(/assets/img/flags/4x3/ma.svg); }
  .flag-icon-ma.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ma.svg); }

.flag-icon-mc {
  background-image: url(/assets/img/flags/4x3/mc.svg); }
  .flag-icon-mc.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mc.svg); }

.flag-icon-md {
  background-image: url(/assets/img/flags/4x3/md.svg); }
  .flag-icon-md.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/md.svg); }

.flag-icon-me {
  background-image: url(/assets/img/flags/4x3/me.svg); }
  .flag-icon-me.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/me.svg); }

.flag-icon-mf {
  background-image: url(/assets/img/flags/4x3/mf.svg); }
  .flag-icon-mf.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mf.svg); }

.flag-icon-mg {
  background-image: url(/assets/img/flags/4x3/mg.svg); }
  .flag-icon-mg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mg.svg); }

.flag-icon-mh {
  background-image: url(/assets/img/flags/4x3/mh.svg); }
  .flag-icon-mh.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mh.svg); }

.flag-icon-mk {
  background-image: url(/assets/img/flags/4x3/mk.svg); }
  .flag-icon-mk.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mk.svg); }

.flag-icon-ml {
  background-image: url(/assets/img/flags/4x3/ml.svg); }
  .flag-icon-ml.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ml.svg); }

.flag-icon-mm {
  background-image: url(/assets/img/flags/4x3/mm.svg); }
  .flag-icon-mm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mm.svg); }

.flag-icon-mn {
  background-image: url(/assets/img/flags/4x3/mn.svg); }
  .flag-icon-mn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mn.svg); }

.flag-icon-mo {
  background-image: url(/assets/img/flags/4x3/mo.svg); }
  .flag-icon-mo.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mo.svg); }

.flag-icon-mp {
  background-image: url(/assets/img/flags/4x3/mp.svg); }
  .flag-icon-mp.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mp.svg); }

.flag-icon-mq {
  background-image: url(/assets/img/flags/4x3/mq.svg); }
  .flag-icon-mq.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mq.svg); }

.flag-icon-mr {
  background-image: url(/assets/img/flags/4x3/mr.svg); }
  .flag-icon-mr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mr.svg); }

.flag-icon-ms {
  background-image: url(/assets/img/flags/4x3/ms.svg); }
  .flag-icon-ms.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ms.svg); }

.flag-icon-mt {
  background-image: url(/assets/img/flags/4x3/mt.svg); }
  .flag-icon-mt.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mt.svg); }

.flag-icon-mu {
  background-image: url(/assets/img/flags/4x3/mu.svg); }
  .flag-icon-mu.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mu.svg); }

.flag-icon-mv {
  background-image: url(/assets/img/flags/4x3/mv.svg); }
  .flag-icon-mv.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mv.svg); }

.flag-icon-mw {
  background-image: url(/assets/img/flags/4x3/mw.svg); }
  .flag-icon-mw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mw.svg); }

.flag-icon-mx {
  background-image: url(/assets/img/flags/4x3/mx.svg); }
  .flag-icon-mx.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mx.svg); }

.flag-icon-my {
  background-image: url(/assets/img/flags/4x3/my.svg); }
  .flag-icon-my.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/my.svg); }

.flag-icon-mz {
  background-image: url(/assets/img/flags/4x3/mz.svg); }
  .flag-icon-mz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/mz.svg); }

.flag-icon-na {
  background-image: url(/assets/img/flags/4x3/na.svg); }
  .flag-icon-na.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/na.svg); }

.flag-icon-nc {
  background-image: url(/assets/img/flags/4x3/nc.svg); }
  .flag-icon-nc.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/nc.svg); }

.flag-icon-ne {
  background-image: url(/assets/img/flags/4x3/ne.svg); }
  .flag-icon-ne.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ne.svg); }

.flag-icon-nf {
  background-image: url(/assets/img/flags/4x3/nf.svg); }
  .flag-icon-nf.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/nf.svg); }

.flag-icon-ng {
  background-image: url(/assets/img/flags/4x3/ng.svg); }
  .flag-icon-ng.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ng.svg); }

.flag-icon-ni {
  background-image: url(/assets/img/flags/4x3/ni.svg); }
  .flag-icon-ni.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ni.svg); }

.flag-icon-nl {
  background-image: url(/assets/img/flags/4x3/nl.svg); }
  .flag-icon-nl.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/nl.svg); }

.flag-icon-no {
  background-image: url(/assets/img/flags/4x3/no.svg); }
  .flag-icon-no.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/no.svg); }

.flag-icon-np {
  background-image: url(/assets/img/flags/4x3/np.svg); }
  .flag-icon-np.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/np.svg); }

.flag-icon-nr {
  background-image: url(/assets/img/flags/4x3/nr.svg); }
  .flag-icon-nr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/nr.svg); }

.flag-icon-nu {
  background-image: url(/assets/img/flags/4x3/nu.svg); }
  .flag-icon-nu.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/nu.svg); }

.flag-icon-nz {
  background-image: url(/assets/img/flags/4x3/nz.svg); }
  .flag-icon-nz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/nz.svg); }

.flag-icon-om {
  background-image: url(/assets/img/flags/4x3/om.svg); }
  .flag-icon-om.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/om.svg); }

.flag-icon-pa {
  background-image: url(/assets/img/flags/4x3/pa.svg); }
  .flag-icon-pa.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pa.svg); }

.flag-icon-pe {
  background-image: url(/assets/img/flags/4x3/pe.svg); }
  .flag-icon-pe.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pe.svg); }

.flag-icon-pf {
  background-image: url(/assets/img/flags/4x3/pf.svg); }
  .flag-icon-pf.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pf.svg); }

.flag-icon-pg {
  background-image: url(/assets/img/flags/4x3/pg.svg); }
  .flag-icon-pg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pg.svg); }

.flag-icon-ph {
  background-image: url(/assets/img/flags/4x3/ph.svg); }
  .flag-icon-ph.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ph.svg); }

.flag-icon-pk {
  background-image: url(/assets/img/flags/4x3/pk.svg); }
  .flag-icon-pk.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pk.svg); }

.flag-icon-pl {
  background-image: url(/assets/img/flags/4x3/pl.svg); }
  .flag-icon-pl.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pl.svg); }

.flag-icon-pm {
  background-image: url(/assets/img/flags/4x3/pm.svg); }
  .flag-icon-pm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pm.svg); }

.flag-icon-pn {
  background-image: url(/assets/img/flags/4x3/pn.svg); }
  .flag-icon-pn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pn.svg); }

.flag-icon-pr {
  background-image: url(/assets/img/flags/4x3/pr.svg); }
  .flag-icon-pr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pr.svg); }

.flag-icon-ps {
  background-image: url(/assets/img/flags/4x3/ps.svg); }
  .flag-icon-ps.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ps.svg); }

.flag-icon-pt {
  background-image: url(/assets/img/flags/4x3/pt.svg); }
  .flag-icon-pt.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pt.svg); }

.flag-icon-pw {
  background-image: url(/assets/img/flags/4x3/pw.svg); }
  .flag-icon-pw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/pw.svg); }

.flag-icon-py {
  background-image: url(/assets/img/flags/4x3/py.svg); }
  .flag-icon-py.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/py.svg); }

.flag-icon-qa {
  background-image: url(/assets/img/flags/4x3/qa.svg); }
  .flag-icon-qa.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/qa.svg); }

.flag-icon-re {
  background-image: url(/assets/img/flags/4x3/re.svg); }
  .flag-icon-re.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/re.svg); }

.flag-icon-ro {
  background-image: url(/assets/img/flags/4x3/ro.svg); }
  .flag-icon-ro.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ro.svg); }

.flag-icon-rs {
  background-image: url(/assets/img/flags/4x3/rs.svg); }
  .flag-icon-rs.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/rs.svg); }

.flag-icon-ru {
  background-image: url(/assets/img/flags/4x3/ru.svg); }
  .flag-icon-ru.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ru.svg); }

.flag-icon-rw {
  background-image: url(/assets/img/flags/4x3/rw.svg); }
  .flag-icon-rw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/rw.svg); }

.flag-icon-sa {
  background-image: url(/assets/img/flags/4x3/sa.svg); }
  .flag-icon-sa.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sa.svg); }

.flag-icon-sb {
  background-image: url(/assets/img/flags/4x3/sb.svg); }
  .flag-icon-sb.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sb.svg); }

.flag-icon-sc {
  background-image: url(/assets/img/flags/4x3/sc.svg); }
  .flag-icon-sc.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sc.svg); }

.flag-icon-sd {
  background-image: url(/assets/img/flags/4x3/sd.svg); }
  .flag-icon-sd.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sd.svg); }

.flag-icon-se {
  background-image: url(/assets/img/flags/4x3/se.svg); }
  .flag-icon-se.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/se.svg); }

.flag-icon-sg {
  background-image: url(/assets/img/flags/4x3/sg.svg); }
  .flag-icon-sg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sg.svg); }

.flag-icon-sh {
  background-image: url(/assets/img/flags/4x3/sh.svg); }
  .flag-icon-sh.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sh.svg); }

.flag-icon-si {
  background-image: url(/assets/img/flags/4x3/si.svg); }
  .flag-icon-si.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/si.svg); }

.flag-icon-sj {
  background-image: url(/assets/img/flags/4x3/sj.svg); }
  .flag-icon-sj.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sj.svg); }

.flag-icon-sk {
  background-image: url(/assets/img/flags/4x3/sk.svg); }
  .flag-icon-sk.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sk.svg); }

.flag-icon-sl {
  background-image: url(/assets/img/flags/4x3/sl.svg); }
  .flag-icon-sl.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sl.svg); }

.flag-icon-sm {
  background-image: url(/assets/img/flags/4x3/sm.svg); }
  .flag-icon-sm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sm.svg); }

.flag-icon-sn {
  background-image: url(/assets/img/flags/4x3/sn.svg); }
  .flag-icon-sn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sn.svg); }

.flag-icon-so {
  background-image: url(/assets/img/flags/4x3/so.svg); }
  .flag-icon-so.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/so.svg); }

.flag-icon-sr {
  background-image: url(/assets/img/flags/4x3/sr.svg); }
  .flag-icon-sr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sr.svg); }

.flag-icon-ss {
  background-image: url(/assets/img/flags/4x3/ss.svg); }
  .flag-icon-ss.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ss.svg); }

.flag-icon-st {
  background-image: url(/assets/img/flags/4x3/st.svg); }
  .flag-icon-st.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/st.svg); }

.flag-icon-sv {
  background-image: url(/assets/img/flags/4x3/sv.svg); }
  .flag-icon-sv.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sv.svg); }

.flag-icon-sx {
  background-image: url(/assets/img/flags/4x3/sx.svg); }
  .flag-icon-sx.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sx.svg); }

.flag-icon-sy {
  background-image: url(/assets/img/flags/4x3/sy.svg); }
  .flag-icon-sy.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sy.svg); }

.flag-icon-sz {
  background-image: url(/assets/img/flags/4x3/sz.svg); }
  .flag-icon-sz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/sz.svg); }

.flag-icon-tc {
  background-image: url(/assets/img/flags/4x3/tc.svg); }
  .flag-icon-tc.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tc.svg); }

.flag-icon-td {
  background-image: url(/assets/img/flags/4x3/td.svg); }
  .flag-icon-td.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/td.svg); }

.flag-icon-tf {
  background-image: url(/assets/img/flags/4x3/tf.svg); }
  .flag-icon-tf.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tf.svg); }

.flag-icon-tg {
  background-image: url(/assets/img/flags/4x3/tg.svg); }
  .flag-icon-tg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tg.svg); }

.flag-icon-th {
  background-image: url(/assets/img/flags/4x3/th.svg); }
  .flag-icon-th.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/th.svg); }

.flag-icon-tj {
  background-image: url(/assets/img/flags/4x3/tj.svg); }
  .flag-icon-tj.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tj.svg); }

.flag-icon-tk {
  background-image: url(/assets/img/flags/4x3/tk.svg); }
  .flag-icon-tk.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tk.svg); }

.flag-icon-tl {
  background-image: url(/assets/img/flags/4x3/tl.svg); }
  .flag-icon-tl.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tl.svg); }

.flag-icon-tm {
  background-image: url(/assets/img/flags/4x3/tm.svg); }
  .flag-icon-tm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tm.svg); }

.flag-icon-tn {
  background-image: url(/assets/img/flags/4x3/tn.svg); }
  .flag-icon-tn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tn.svg); }

.flag-icon-to {
  background-image: url(/assets/img/flags/4x3/to.svg); }
  .flag-icon-to.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/to.svg); }

.flag-icon-tr {
  background-image: url(/assets/img/flags/4x3/tr.svg); }
  .flag-icon-tr.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tr.svg); }

.flag-icon-tt {
  background-image: url(/assets/img/flags/4x3/tt.svg); }
  .flag-icon-tt.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tt.svg); }

.flag-icon-tv {
  background-image: url(/assets/img/flags/4x3/tv.svg); }
  .flag-icon-tv.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tv.svg); }

.flag-icon-tw {
  background-image: url(/assets/img/flags/4x3/tw.svg); }
  .flag-icon-tw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tw.svg); }

.flag-icon-tz {
  background-image: url(/assets/img/flags/4x3/tz.svg); }
  .flag-icon-tz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/tz.svg); }

.flag-icon-ua {
  background-image: url(/assets/img/flags/4x3/ua.svg); }
  .flag-icon-ua.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ua.svg); }

.flag-icon-ug {
  background-image: url(/assets/img/flags/4x3/ug.svg); }
  .flag-icon-ug.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ug.svg); }

.flag-icon-um {
  background-image: url(/assets/img/flags/4x3/um.svg); }
  .flag-icon-um.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/um.svg); }

.flag-icon-us {
  background-image: url(/assets/img/flags/4x3/us.svg); }
  .flag-icon-us.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/us.svg); }

.flag-icon-uy {
  background-image: url(/assets/img/flags/4x3/uy.svg); }
  .flag-icon-uy.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/uy.svg); }

.flag-icon-uz {
  background-image: url(/assets/img/flags/4x3/uz.svg); }
  .flag-icon-uz.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/uz.svg); }

.flag-icon-va {
  background-image: url(/assets/img/flags/4x3/va.svg); }
  .flag-icon-va.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/va.svg); }

.flag-icon-vc {
  background-image: url(/assets/img/flags/4x3/vc.svg); }
  .flag-icon-vc.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/vc.svg); }

.flag-icon-ve {
  background-image: url(/assets/img/flags/4x3/ve.svg); }
  .flag-icon-ve.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ve.svg); }

.flag-icon-vg {
  background-image: url(/assets/img/flags/4x3/vg.svg); }
  .flag-icon-vg.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/vg.svg); }

.flag-icon-vi {
  background-image: url(/assets/img/flags/4x3/vi.svg); }
  .flag-icon-vi.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/vi.svg); }

.flag-icon-vn {
  background-image: url(/assets/img/flags/4x3/vn.svg); }
  .flag-icon-vn.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/vn.svg); }

.flag-icon-vu {
  background-image: url(/assets/img/flags/4x3/vu.svg); }
  .flag-icon-vu.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/vu.svg); }

.flag-icon-wf {
  background-image: url(/assets/img/flags/4x3/wf.svg); }
  .flag-icon-wf.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/wf.svg); }

.flag-icon-ws {
  background-image: url(/assets/img/flags/4x3/ws.svg); }
  .flag-icon-ws.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ws.svg); }

.flag-icon-ye {
  background-image: url(/assets/img/flags/4x3/ye.svg); }
  .flag-icon-ye.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/ye.svg); }

.flag-icon-yt {
  background-image: url(/assets/img/flags/4x3/yt.svg); }
  .flag-icon-yt.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/yt.svg); }

.flag-icon-za {
  background-image: url(/assets/img/flags/4x3/za.svg); }
  .flag-icon-za.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/za.svg); }

.flag-icon-zm {
  background-image: url(/assets/img/flags/4x3/zm.svg); }
  .flag-icon-zm.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/zm.svg); }

.flag-icon-zw {
  background-image: url(/assets/img/flags/4x3/zw.svg); }
  .flag-icon-zw.flag-icon-squared {
    background-image: url(/assets/img/flags/1x1/zw.svg); }

@font-face {
  font-family: 'cameorrheavyline';
  src: url("/assets/fonts/cameo/webfont.eot");
  src: url("/assets/fonts/cameo/webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/cameo/webfont.woff2") format("woff2"), url("/assets/fonts/cameo/webfont.woff") format("woff"), url("/assets/fonts/cameo/webfont.ttf") format("truetype"), url("/assets/fonts/cameo/webfont.svg#cameorrheavyline") format("svg");
  font-weight: normal;
  font-style: normal; }
.cameo {
  font-family: "cameorrheavyline"; }

body, a, h1, h2, p, button, textarea, input {
  font-family: "brandon-grotesque", sans-serif; }

.content ul li {
  margin-left: 20px; }

.fixed {
  z-index: 140; }

.clearfix {
  clear: both;
  width: 100%; }

nav[role=navigation] .name img {
  margin-left: 15px;
  width: 200px;
  margin-top: 14px; }
nav[role=navigation] .name h1 {
  line-height: inherit !important; }
nav[role=navigation] .name h1 a {
  padding: 0 !important; }
nav[role=navigation] .top-logo {
  display: block;
  height: 60px;
  margin-right: 20px; }
nav[role=navigation] .top-logo img {
  width: 240px;
  margin-top: 12px;
  margin-left: 12px; }
nav[role=navigation] .top-bar-section .top-logo {
  padding: 0 !important;
  margin: 0 !important;
  padding-left: 10px !important;
  line-height: 3.5rem !important; }
nav[role=navigation] .top-bar-section .header-icons {
  float: right;
  padding-top: 5px; }
  nav[role=navigation] .top-bar-section .header-icons svg {
    margin-right: 10px; }
  nav[role=navigation] .top-bar-section .header-icons a {
    padding: 0 !important; }
nav[role=navigation] .top-bar-section a {
  text-transform: uppercase;
  transition: .5s;
  line-height: 3.8rem !important;
  padding: 0 30px !important;
  font-family: "brandon-grotesque", sans-serif; }
nav[role=navigation] .top-bar-section a:hover {
  font-weight: 700; }

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.well[ui-view] {
  height: 65px; }

.loaderContainer {
  display: none; }

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0; }

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.loader:after {
  background: #c8bde0;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.ui-padded {
  margin-bottom: 40px;
  margin-top: 60px; }

.ui-view-container {
  position: relative; }
  @media (max-width: 650px) {
    .ui-view-container {
      padding-bottom: 40px;
      padding-top: 60px; } }
  .ui-view-container .fade {
    opacity: 1; }
  .ui-view-container .fade.ng-enter,
  .ui-view-container .fade.ng-leave {
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
  .ui-view-container .fade.ng-enter {
    opacity: 0; }
  .ui-view-container .fade.ng-enter-active {
    opacity: 1; }
  .ui-view-container .fade.ng-leave {
    opacity: 1; }
  .ui-view-container .fade.ng-leave-active {
    opacity: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 0px;
  /* bottom = footer height */ }

footer {
  position: fixed;
  left: 0;
  right: 0;
  height: 40px;
  bottom: 0;
  width: 100%;
  z-index: 135;
  background: #7f85af; }
  footer .right {
    color: #c1c5e2;
    line-height: 2.7rem;
    font-size: 0.7rem;
    text-transform: uppercase; }
    footer .right a {
      color: #c1c5e2;
      display: block;
      float: left; }
    footer .right a:hover {
      color: #fff; }
    @media (max-width: 600px) {
      footer .right li {
        margin-left: 0.5rem; }
      footer .right a {
        line-height: 2.7rem;
        font-size: 0.7rem; } }

.relative {
  position: relative; }

.textSection h2 {
  font-family: "cameorrheavyline";
  text-transform: uppercase;
  font-size: 4.5em;
  letter-spacing: .07em;
  color: #b5a9e3; }
.textSection p {
  color: #414141; }
@media (max-width: 650px) {
  .textSection h2 {
    font-size: 3em; } }

.btnPrimary {
  border: 2px solid #b5a9e3;
  color: #b5a9e3;
  padding: 5px 25px !important;
  background: transparent;
  z-index: 2;
  text-transform: uppercase;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700; }

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active {
  border: 2px solid #7f85af;
  color: #7f85af;
  background: transparent; }

.btnSignUp {
  text-transform: uppercase;
  background: #fff;
  font-weight: bold; }

input[type=text] {
  border: 2px solid #f4d5d7;
  padding: 5px 25px; }

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(127, 132, 176, 0.8) url(/assets/img/chevron-up.svg) no-repeat center 50%;
  background-size: 30px 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #7f84b0;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 70px; } }
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 60px; } }
@media only screen and (min-width: 768px) {
  .valign-middle {
    display: table; }
    .valign-middle > .columns {
      display: table-cell;
      vertical-align: middle; }
    .valign-middle > .columns, .valign-middle > [class*="column"] + [class*="column"]:last-child {
      float: none; } }
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .top-logo {
    width: 250px !important; }
    .top-logo img {
      width: 170px !important; } }
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .top-logo {
    width: 250px !important; }
    .top-logo img {
      width: 170px !important; } }
.home .left-panel {
  position: relative; }
.home .left-img {
  background: url(/assets/img/dogs.jpg);
  width: 50%;
  height: 100%;
  background-size: cover;
  position: fixed; }
.home section {
  clear: both;
  min-height: 500px;
  height: 100%; }
.home section:nth-child(1) {
  background: #fff; }
  .home section:nth-child(1) .right-section img {
    margin-bottom: 10px; }
  .home section:nth-child(1) .right-section .inner {
    padding: 20px; }
    .home section:nth-child(1) .right-section .inner p {
      color: #7673c0; }
.home section:nth-child(2) {
  padding: 20px 20px 20px 0;
  background: #d3cbee url(/assets/img/sign-up-bg.jpg) left top no-repeat; }
  .home section:nth-child(2) h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3em;
    padding-left: 10px;
    font-family: "brandon-grotesque", sans-serif; }
  .home section:nth-child(2) form input[type=text] {
    border: none; }
  .home section:nth-child(2) form label {
    color: #fff; }
  .home section:nth-child(2) form button.small, .home section:nth-child(2) form .button.small {
    color: #fff;
    border-color: #fff; }
  .home section:nth-child(2) .ariana1 {
    display: none; }
  @media all and (min-width: 1620px) {
    .home section:nth-child(2) .ariana1 {
      display: inline-block;
      margin-left: 20px;
      max-width: 255px;
      width: 100%;
      transition: all .3s; } }
  .home section:nth-child(2) .ariana2 {
    max-width: 327px;
    width: 100%;
    transition: all .3s; }
  .home section:nth-child(2) .left-section {
    padding-right: 0; }
    .home section:nth-child(2) .left-section a {
      color: #fff;
      text-decoration: underline; }
  .home section:nth-child(2) .right-section {
    padding-right: 0; }
    .home section:nth-child(2) .right-section img {
      float: right; }
.home section:nth-child(3) {
  position: relative;
  background: #404040 url(/assets/img/video-bg.jpg) 50% top no-repeat;
  background-size: cover;
  width: 100%; }
  .home section:nth-child(3) .left-section {
    text-align: center;
    padding: 0 !important; }
  .home section:nth-child(3) a {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    display: block;
    margin-left: -130px;
    margin-top: -10px; }
    .home section:nth-child(3) a svg {
      width: 35px;
      height: 35px;
      vertical-align: middle;
      margin-right: 10px; }

.pageContent section {
  padding: 20px; }
.pageContent h1 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase; }
.pageContent h2 {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase; }
.pageContent h3 {
  font-size: .7em;
  font-weight: 700;
  text-transform: uppercase; }

.anim {
  animation: jiggle 9s ease-in infinite; }

@keyframes jiggle {
  0%, 10% {
    transform: scale(1, 1); }
  48%, 62% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.1, 0.9); }
  51% {
    transform: scale(0.9, 1.1) translate(0, -5px);
    border-color: #7f84b0 !important; }
  52% {
    transform: scale(1, 1) translate(0, -3px); }
  90%, 100% {
    transform: scale(1, 1); } }
.has-error label {
  font-weight: 700;
  color: #ffec33 !important; }

small.error {
  margin-top: -16px !important;
  background: none !important;
  padding: 0 !important; }

#messages {
  color: #fff;
  padding-left: 10px; }

[ng-class="product"] {
  background: url(/assets/img/product-bg.jpg) no-repeat center center fixed;
  background-size: cover; }
  [ng-class="product"] .addthis_sharing_toolbox {
    float: right; }
  [ng-class="product"] .panel {
    background: rgba(255, 255, 255, 0.95);
    margin: 80px 20px 20px 20px;
    max-width: 760px;
    width: 100%;
    float: right;
    color: #7673c0;
    border: none; }
    @media only screen and (max-width: 500px) {
      [ng-class="product"] .panel {
        margin: 0; } }
    [ng-class="product"] .panel .panel-text {
      max-width: 400px; }
    [ng-class="product"] .panel h3, [ng-class="product"] .panel h4 {
      font-family: "brandon-grotesque", sans-serif;
      color: #7673c0;
      text-transform: uppercase; }
    [ng-class="product"] .panel p {
      color: #7673c0; }
    [ng-class="product"] .panel .info {
      margin-top: 50px; }
  [ng-class="product"] .left-thumbs {
    padding: 20px 40px;
    margin-top: 80px; }
    @media only screen and (max-width: 500px) {
      [ng-class="product"] .left-thumbs {
        padding: 20px 10px;
        margin-top: 20px;
        padding-left: 40px; } }
  [ng-class="product"] .product-image {
    text-align: center;
    width: 100%;
    clear: both; }
    [ng-class="product"] .product-image img {
      max-height: 400px; }
  [ng-class="product"] .product-nav * {
    cursor: pointer; }
  [ng-class="product"] .product-nav {
    background: #fff;
    border-radius: 200px;
    width: 60%;
    height: 50%;
    max-width: 180px;
    max-height: 180px;
    margin-bottom: 40px;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fef9fa+0,fce2e5+100 */
    background: #fef9fa;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fef9fa 0%, #fce2e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fef9fa), color-stop(100%, #fce2e5));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #fef9fa 0%, #fce2e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #fef9fa 0%, #fce2e5 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #fef9fa 0%, #fce2e5 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #fef9fa 0%, #fce2e5 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef9fa', endColorstr='#fce2e5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-position: 10px -50px; }
    @media only screen and (max-width: 500px) {
      [ng-class="product"] .product-nav {
        width: 20%;
        float: left;
        margin-right: 10px; } }
    [ng-class="product"] .product-nav img {
      z-index: 2;
      position: relative; }
  [ng-class="product"] .hover-circle {
    opacity: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all .5s;
    background: #fff; }
  [ng-class="product"] .product-nav.active .hover-circle {
    opacity: 1;
    transition: all .5s; }
  [ng-class="product"] .product-nav:hover .hover-circle {
    opacity: 1;
    transition: all .5s; }
  [ng-class="product"] .product-table {
    width: 100%;
    max-height: 400px;
    margin: 40px 0px; }

/*# sourceMappingURL=app.css.map */
