$flag-icon-css-path: '/assets/img/flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;

@import 'src/bower_components/flag-icon-css/sass/flag-icon-base.scss';
@import 'src/bower_components/flag-icon-css/sass/flag-icon-list.scss';


//Global
$primary-color: #b5a9e3;
$secondary-color: #7f85af;
$secondary-two:#7673c0;
$secondary-light: #c1c5e2;
$blush-color: #f4d5d7;
$yellow: #ffec33;
$font-primary: "brandon-grotesque",sans-serif;
$gold: #c2b49b;
$font-secondary: 'cameorrheavyline';

//fonts
@font-face {
  font-family: 'cameorrheavyline';
  src: url('/assets/fonts/cameo/webfont.eot');
  src: url('/assets/fonts/cameo/webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/cameo/webfont.woff2') format('woff2'),
  url('/assets/fonts/cameo/webfont.woff') format('woff'),
  url('/assets/fonts/cameo/webfont.ttf') format('truetype'),
  url('/assets/fonts/cameo/webfont.svg#cameorrheavyline') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cameo {
  font-family: $font-secondary;
}
body,a,h1,h2,p,button,textarea,input {
  font-family: $font-primary;
}
.content ul li {
  margin-left:20px;
}
.fixed {
  z-index:140;
}
.clearfix {
  clear:both;
  width:100%;
}


nav[role=navigation]  {
  .name img {
    margin-left: 15px;
    width: 200px;
    margin-top: 14px;
  }
  .name h1 {
    line-height:inherit !important;
  }
  .name h1 a {
    padding:0 !important;
  }
  .top-logo {
    display: block;
    height: 60px;
    margin-right:20px;
  }
  .top-logo img {
    width: 240px;
    margin-top: 12px;
    margin-left: 12px;
  }

  .top-bar-section {
    .top-logo {
      padding: 0 !important;
      margin: 0 !important;
      padding-left: 10px !important;
      line-height: 3.5rem !important;
    }

    .header-icons {
      float:right;
      padding-top:5px;
      svg {
        margin-right:10px;
      }
      a {
        padding:0 !important;
      }
    }
  }
  .top-bar-section a {
    text-transform:uppercase;
    transition:.5s;
    line-height: 3.8rem !important;
    padding: 0 30px !important;
    font-family: $font-primary;
  }
  .top-bar-section a:hover {
    font-weight:700;
  }
}
/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.well[ui-view]{
  height: 65px;
}
.loaderContainer {
  display:none;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

}
.loader p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #c8bde0;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ui-padded {
  margin-bottom:  40px;
  margin-top:60px;
}

.ui-view-container {
  position: relative;

  @media (max-width: 650px) {
    padding-bottom:40px;
    padding-top:60px;
  }



  .fade {

    opacity: 1;
  }
  .fade.ng-enter,
  .fade.ng-leave {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
  }
  .fade.ng-enter {
    opacity: 0;
  }
  .fade.ng-enter-active {
    opacity: 1;
  }
  .fade.ng-leave {
    opacity: 1;
  }
  .fade.ng-leave-active {
    opacity: 0;
  }
}


html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 0px; /* bottom = footer height */
}
footer {
  position: fixed;
  left: 0;
  right:0;
  height:40px;
  bottom: 0;
  width: 100%;
  z-index:135;
  background:$secondary-color;


  .right {

    color:$secondary-light;
    line-height: 2.7rem;
    font-size: 0.7rem;
    text-transform: uppercase;

    a {
      color:$secondary-light;
      display: block;
      float: left;
    }
    a:hover {
      color:#fff;
    }
    @media (max-width: 600px) {
      li {
        margin-left:0.5rem;
      }
      a {
        line-height: 2.7rem;
        font-size: 0.7rem;
      }
    }
  }
}
.relative {
  position:relative;
}
.textSection {
  h2 {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 4.5em;
    letter-spacing: .07em;
    color: $primary-color;
  }
  p {
    color:#414141;
  }
  @media (max-width: 650px) {
    h2 {
      font-size:3em;
    }
  }
}
.btnPrimary {
  border:2px solid $primary-color;
  color: $primary-color;
  padding:5px 25px !important;
  background:transparent;
  z-index:2;
  text-transform: uppercase;
  font-family: $font-primary;
  font-weight: 700;
}
.btnPrimary:hover,.btnPrimary:focus,.btnPrimary:active {
  border:2px solid $secondary-color;
  color: $secondary-color;
  background:transparent;
}
.btnSignUp {
  text-transform: uppercase;
  background: #fff;
  font-weight: bold;
}
input[type=text] {
  border:2px solid $blush-color;
  padding:5px 25px;
}


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(127, 132, 176, 0.8) url(/assets/img/chevron-up.svg) no-repeat center 50%;
  background-size:30px 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #7f84b0;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 70px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .valign-middle {
    display: table;

    > .columns {
      display: table-cell;
      vertical-align: middle;
    }

    > .columns, > [class*="column"] + [class*="column"]:last-child {
      float: none;
    }
  }
}


@import 'home.scss';
@import 'product.scss';