

  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    .top-logo {
      width:250px !important;
      img {
        width: 170px !important;
      }
    }

  }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .top-logo {
      width:250px !important;
      img {
        width: 170px !important;
      }
    }
  }

  .home {
    .left-panel {
      position:relative;
    }
    .left-img {
      background:url(/assets/img/dogs.jpg);
      width:50%;
      height:100%;
      background-size:cover;
      position:fixed;
    }
    section {
      clear:both;
      min-height:500px;
      height:100%;
    }


    section:nth-child(1) {


      background:#fff;
      .left-section {
        img {

        }
      }
      .right-section {
        img {
          margin-bottom:10px;
        }
        .inner {
          padding:20px;
          p {
            color:$secondary-two;
          }
        }
      }
    }
    section:nth-child(2) {




      padding:20px 20px 20px 0;
      background:#d3cbee url(/assets/img/sign-up-bg.jpg) left top no-repeat;
      h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3em;
        padding-left:10px;
        font-family:$font-primary;
      }
      form {
        input[type=text] {
          border:none;
        }
        label {
          color:#fff;
        }
        button.small, .button.small {
          color:#fff;
          border-color:#fff;
        }
      }

      .ariana1 {
        display:none;
      }
      @media all and (min-width: 1620px) {
        .ariana1 {
          display:inline-block;
          margin-left:20px;
          max-width: 255px;
          width: 100%;
          transition:all .3s;
        }
      }
      .ariana2 {

        max-width: 327px;
        width: 100%;
        transition: all .3s;
      }
      .left-section {
        padding-right: 0;
        a {
          color:#fff;
          text-decoration: underline;
        }
      }
      .right-section {
        padding-right: 0;
        img {
          float:right;
        }
      }
    }
    section:nth-child(3) {


      position:relative;
      background:#404040 url(/assets/img/video-bg.jpg) 50% top no-repeat;
      background-size: cover;
      width:100%;
      .left-section {
        text-align:center;
        padding: 0 !important;
      }
      a {


        text-align: center;
        font-size: 1.4em;
        font-weight: 600;
        cursor:pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        /* width: 100%; */
        display: block;
        margin-left: -130px;
        margin-top: -10px;

        svg {
          width: 35px;
          height: 35px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }

  }
  .pageContent {
    section {
      padding:20px;
    }
    h1 {
      font-family:$font-primary;
      font-size:1em;
      font-weight:700;
      text-transform: uppercase;
    }
    h2 {
      font-size:.8em;
      font-weight:700;
      text-transform: uppercase;
    }
    h3 {
      font-size:.7em;
      font-weight:700;
      text-transform: uppercase;
    }
  }
  .anim {
    animation: jiggle 9s ease-in infinite;
  }
  @keyframes jiggle {
    0%, 10%       { transform: scale(1.0, 1.0) }
    48%, 62% {
      transform: scale(1.0, 1.0)
    }
    50% {
      transform: scale(1.1, 0.9)
    }
    51% {
      transform: scale(0.9, 1.1) translate(0, -5px);
      border-color:#7f84b0 !important;
    }
    52% {
      transform: scale(1.0, 1.0) translate(0, -3px)
    }
    90%, 100%     { transform: scale(1.0, 1.0) }
  }
  .has-error label {
    font-weight:700;
    color:$yellow !important;
  }
  small.error {
    margin-top: -16px !important;
    background: none !important;
    padding: 0 !important;
  }
  #messages {
    color: #fff;
    padding-left: 10px;
  }

