$tblHeight: 400px;
[ng-class="product"] {
  background: url(/assets/img/product-bg.jpg) no-repeat center center fixed;
  background-size: cover;


  .addthis_sharing_toolbox {
    float:right;
  }
  .panel {

    background:rgba(255,255,255,0.95);
    margin:80px 20px 20px 20px;
    max-width:760px;
    width:100%;
    float:right;
    color:$secondary-two;
    border:none;

    @media only screen and (max-width: 500px) {
      margin:0;
    }

    .panel-text {
      max-width:400px;
    }

    h3,h4 {
      font-family:$font-primary;
      color:$secondary-two;
      text-transform: uppercase;
    }
    p {
      color:$secondary-two;
    }
    .info {
      margin-top:50px;
    }
  }


  .left-thumbs {
    padding:20px 40px;
    margin-top: 80px;
    @media only screen and (max-width: 500px) {
      padding:20px 10px;
      margin-top:20px;
      padding-left: 40px;
    }
  }
  .product-image {
    text-align:center;
    width:100%;
    clear:both;
    img {
      max-height: $tblHeight;
    }
  }

  .product-nav * {
    cursor: pointer;
  }
  .product-nav {
    background: #fff;
    border-radius: 200px;
    width: 60%;
    height: 50%;
    max-width:180px;
    max-height:180px;
    margin-bottom:40px;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fef9fa+0,fce2e5+100 */
    background: #fef9fa; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fef9fa 0%, #fce2e5 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fef9fa), color-stop(100%, #fce2e5)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #fef9fa 0%, #fce2e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #fef9fa 0%, #fce2e5 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #fef9fa 0%, #fce2e5 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #fef9fa 0%, #fce2e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef9fa', endColorstr='#fce2e5', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background-position: 10px -50px;

    @media only screen and (max-width: 500px) {
      width: 20%;
      float: left;
      margin-right: 10px;
    }

    img {
      z-index: 2;
      position: relative;
    }
  }
  .hover-circle {
    opacity: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all .5s;
    background: #fff;
  }
  .product-nav.active {
    .hover-circle {
      opacity: 1;
      transition: all .5s;
    }
  }
  .product-nav:hover {
    .hover-circle {
      opacity: 1;
      transition: all .5s;
    }
  }
  .product-table {
    width: 100%;
    max-height: $tblHeight;
    margin: 40px 0px;
  }
}
