<!doctype html>
<html class="no-js" lang="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ari by Ariana Grande</title>
    <meta name="description" content="The debut fragrances from Ariana Grande">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/assets/css/main.css">
      <link rel="stylesheet" href="/assets/css/app.css">

    <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
      <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <script src="/assets/js/modernizr.js"></script>
    <script src="//use.typekit.net/hzk7ncw.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body ng-app="app" ng-controller="RootCtrl" ng-class="{{containerClass}}">
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55f83f7d27b3b9fb#async=1" async="async"></script>
  <div class="fixed">
      <!--<div class="video-controls">
          <div class="sound" ng-click="sound()"></div>
      </div>-->
  <nav class="top-bar sticky" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
          <li><a href="/" class="top-logo"><img src="/assets/img/logo-notitle.svg"></a></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
    <div class="top-bar-section">


        <!-- Left Nav Section -->
        <ul class="left">
            <li><a href="/#fragrance">The Fragrance</a></li>
            <li><a href="/" ng-click="gotoSignUp()">Sign Up</a></li>
        </ul>
        <div class="header-icons hide-for-small-only">
            <a href="https://www.facebook.com/arianagrande"
               target="_blank" class="desk-share-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 17 17">
                    <path fill="#ffffff"
                          d="M12.5,5.6l-0.3,2.9H9.8V17H6.3V8.5H4.5V5.6h1.8V3.8c0-2.4,1-3.8,3.8-3.8h2.3v2.9H11c-1.1,0-1.2,0.4-1.2,1.2v1.5    C9.8,5.6,12.5,5.6,12.5,5.6z"/>
                </svg>
            </a> <a href="https://twitter.com/ArianaGrande" target="_blank" class="desk-share-link">
            <svg id="twitter-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                 viewBox="0 0 64 64">
                <path fill="#ffffff"
                      d="M64 12.15c-2.355 1.045-4.885 1.75-7.54 2.068 2.71-1.625 4.792-4.198 5.772-7.264-2.537 1.505-5.347 2.597-8.338 3.186-2.395-2.552-5.808-4.146-9.584-4.146-7.25 0-13.13 5.88-13.13 13.13 0 1.03.116 2.03.34 2.992-10.912-.548-20.588-5.775-27.064-13.72-1.13 1.94-1.778 4.196-1.778 6.602 0 4.556 2.318 8.575 5.84 10.93-2.15-.07-4.176-.66-5.946-1.643v.165c0 6.362 4.525 11.668 10.532 12.875-1.102.3-2.262.46-3.46.46-.845 0-1.668-.082-2.47-.235 1.672 5.216 6.52 9.013 12.267 9.118-4.493 3.522-10.154 5.62-16.306 5.62-1.06 0-2.105-.06-3.132-.183 5.81 3.726 12.713 5.9 20.128 5.9 24.15 0 37.358-20.008 37.358-37.36 0-.568-.013-1.135-.038-1.698 2.566-1.85 4.792-4.164 6.552-6.797z"/>
            </svg>
        </a>
            <a href="http://instagram.com/arianagrande" target="_blank" class="desk-share-link">
                <svg id="twitter-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                     viewBox="0 0 64 64">
                    <path fill="#ffffff"
                          d="M53.375 0h-42.75C4.78 0 0 4.78 0 10.625v42.75C0 59.22 4.78 64 10.625 64h42.75C59.22 64 64 59.22 64 53.375v-42.75C64 4.78 59.22 0 53.375 0zM20.488 28h23.025c.437 1.254.675 2.6.675 4 0 6.72-5.467 12.188-12.188 12.188S19.812 38.72 19.812 32c0-1.4.238-2.746.675-4zM56 28.003V52c0 2.2-1.8 4-4 4H12c-2.2 0-4-1.8-4-4V28h6.257c-.29 1.288-.444 2.626-.444 4 0 10.03 8.16 18.188 18.188 18.188S50.19 42.028 50.19 32c0-1.374-.155-2.712-.445-4l6.257.003zM56 14c0 1.1-.9 2-2 2h-4c-1.1 0-2-.9-2-2v-4c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2v4z"/>
                </svg>
            </a>
            <a href="https://www.youtube.com/user/ArianaGrandeVevo" target="_blank" class="desk-share-link hidden-for-small">
                <svg id="twitter-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                     viewBox="0 0 512 512">
                    <polygon fill="#FFFFFF" points="101.7,0 133.1,0 153.3,73.3 155.3,73.3 174.5,0 206.1,0 169.9,107.3 169.9,183.4 138.8,183.4
			138.8,110.7 		"/>

                    <path fill="#FFFFFF" d="M208.4,79.1c0-10.5,3.7-18.9,11.2-25c7.4-6.2,17.5-9.3,30-9.3c11.4,0,20.8,3.3,28.1,9.8
			c7.3,6.5,10.9,15,10.9,25.3v69.9c0,11.6-3.6,20.6-10.7,27.2c-7.2,6.6-17,9.9-29.6,9.9c-12.1,0-21.8-3.4-29-10.2
			c-7.2-6.8-10.9-16-10.9-27.5L208.4,79.1L208.4,79.1z M236.8,151.7c0,3.7,1,6.6,3,8.6c2,2,4.8,3,8.4,3c3.7,0,6.7-1,8.9-3.1
			c2.2-2.1,3.3-4.9,3.3-8.6V78c0-3-1.1-5.3-3.4-7.2c-2.3-1.8-5.2-2.7-8.8-2.7c-3.4,0-6.1,0.9-8.2,2.7c-2.1,1.8-3.2,4.2-3.2,7.2
			L236.8,151.7L236.8,151.7z"/>
                    <path fill="#FFFFFF" d="M389.9,48.1v135.3h-27.7v-14.9c-5,5.5-10.4,9.7-15.9,12.6c-5.5,2.9-10.9,4.3-16,4.3c-6.4,0-11.2-2-14.5-6
			c-3.2-4-4.8-10.1-4.8-18.1V48.1h27.6v103.7c0,3.2,0.6,5.5,1.8,7c1.1,1.4,3,2.2,5.6,2.2c2,0,4.6-1,7.7-2.9c3.1-1.9,5.9-4.3,8.5-7.3
			V48.1H389.9z"/>
                    <path fill="#FFFFFF" d="M305.4,350.2c-1.8,0-3.5,0.4-5.2,1.2c-1.7,0.8-3.4,2.1-5.1,3.7v76.5c2,2,3.9,3.5,5.8,4.3
			c1.9,0.9,3.8,1.3,5.9,1.3c3,0,5.2-0.9,6.6-2.6c1.4-1.7,2.1-4.5,2.1-8.5v-63.4c0-4.1-0.9-7.3-2.6-9.4
			C311.2,351.3,308.7,350.2,305.4,350.2z"/>
                    <path fill="#FFFFFF" d="M390,350.6c-3.9,0-6.7,1.1-8.4,3.4c-1.7,2.1-2.5,5.9-2.5,11v12.4h21.7V365c0-5.1-0.9-8.9-2.6-11
			C396.5,351.7,393.7,350.6,390,350.6z"/>
                    <path fill="#FFFFFF" d="M446,255c-20.2-19.8-190.1-20.1-190.1-20.1c0,0-169.9,0.2-190.1,20.1c-20.2,19.8-20.3,117.8-20.3,118.4
			v0.2c0,0.6,0.1,98.4,20.3,118.2C86,511.6,255.9,512,255.9,512s169.9-0.4,190.1-20.2c20.3-19.9,20.5-118.4,20.5-118.4
			C466.5,372.8,466.3,274.9,446,255z M170.9,312.7h-28.6V455h-27.7V312.7H86v-24.2h84.9L170.9,312.7L170.9,312.7z M251.8,455h-24.5
			v-13.5c-4.6,5-9.3,8.8-14.2,11.4c-4.9,2.6-9.6,3.9-14.3,3.9c-5.7,0-9.9-1.8-12.8-5.5c-2.8-3.7-4.3-9.1-4.3-16.5V332.2h24.5v94.2
			c0,2.9,0.5,5,1.5,6.3c1.1,1.3,2.8,2,5,2c1.8,0,4.1-0.9,6.9-2.6c2.8-1.7,5.3-3.9,7.6-6.6v-93.3h24.5L251.8,455L251.8,455z
			 M340.9,429.7c0,8.7-1.9,15.4-5.8,20c-3.8,4.7-9.4,6.9-16.7,6.9c-4.8,0-9.1-0.9-12.8-2.7c-3.7-1.8-7.3-4.5-10.5-8.3v9.4h-24.8
			V288.5h24.8v53.6c3.3-3.7,6.8-6.6,10.5-8.5c3.7-2,7.5-2.9,11.3-2.9c7.8,0,13.7,2.6,17.8,7.8c4.1,5.2,6.2,12.9,6.2,23L340.9,429.7
			L340.9,429.7z M426,396.6h-47v23.1c0,6.5,0.8,10.9,2.4,13.5c1.7,2.5,4.4,3.7,8.3,3.7c4.1,0,6.9-1.1,8.5-3.2
			c1.6-2.1,2.5-6.8,2.5-14v-5.6H426v6.3c0,12.6-3.1,22.1-9.3,28.5c-6.1,6.3-15.3,9.5-27.5,9.5c-11,0-19.7-3.3-26-10.1
			c-6.3-6.7-9.5-16-9.5-27.9v-55.2c0-10.6,3.5-19.3,10.4-26c6.9-6.7,15.9-10.1,26.9-10.1c11.2,0,19.9,3.1,25.9,9.3
			c6,6.2,9,15.1,9,26.8L426,396.6L426,396.6L426,396.6z"/>
                </svg>
            </a>
            <a href="http://arianaaagrandeee.tumblr.com/" target="_blank" class="desk-share-link">
                <svg id="tumblr-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                     viewBox="49 79.3 320 436">
                    <path fill="#ffffff"
                          d="M134.1,221.5c-1.7-0.2-35.8,0.2-37.7,1.7c-1.2,0.9-1.1,6.7,2.9,7.5c4,0.8,29-1.1,30.4-0.5c1.4,0.6,0.8,30.6,2.1,32.4
	c1.4,1.8,6.7,2.4,9,1.1c2.3-1.4-0.2-26.5-0.3-33.5C140.4,223.1,135.8,221.6,134.1,221.5L134.1,221.5z M159.4,124.6
	c-1.7,0.2-2.3,8.4-4.6,14c-2.3,5.6-10,20.1-16.9,28.3c-6.8,8.2-16.4,9.4-17.6,11.1c-2.8,3.8,0.8,8.8,5,7.9
	c4.3-0.9,17.6-6.6,26.2-19.2c8.5-12.6,15.7-32.9,15.8-38.2C167.4,123.3,161,124.5,159.4,124.6L159.4,124.6z M255.6,200.2
	c2,0.9,20.8,1.7,22.5,2c1.7,0.3,1.2,14.5,2.4,16.6c1.2,2.1,3.5,2.4,6.4,1.7c2.9-0.8,2.4-25.9,0.8-26.6c-1.7-0.8-29.3-2.1-31.8-1.2
	C252.6,193.8,253.6,199.2,255.6,200.2L255.6,200.2z M180.5,274.9c-1.8,3.2,1.1,73.7,1.7,76c0.6,2.3,8.4,2.3,9.6,0.9
	c1.2-1.4-1.7-64-2.3-71.9C188.9,272.1,181.5,273.2,180.5,274.9L180.5,274.9z M360.4,398.6c-0.5-9.9-4.1-17.1-7.5-20.3
	c-3.3-3.2-10.5-5.3-14.3-4.6s-26.2,14.5-47.3,23.8c-21.1,9.3-41.1,0.5-45.8-2c-4.7-2.4-10.6-10.2-13.8-17.7
	c-3.2-7.5-5.3-23.6-6.1-38.7c-0.8-15.1-1-56.4-0.5-59.1c0.6-2.8,11.1-2.8,23-2.8c11.9,0,58.4-0.9,67.1-1.8s10.3-4,10.9-7
	c0.6-3,0-32.6,1-41.6c1.1-9,2.1-23.8,1.4-25.7s-7-16.9-10.8-18.6c-3.8-1.7-39.8-4.7-46.8-5.2s-42.6-0.9-43.2-1.2
	c-0.6-0.3-0.5-3.8,0.2-8.8c0.6-5-0.2-36.6-0.6-42.2c-0.5-5.6-0.2-16-2.7-18.6c-2.6-2.6-16.3-16.8-21.3-18c-5-1.2-43.6-0.8-49.6-0.5
	c-5.9,0.3-11.4,2.9-12.5,5c-1.1,2.1-2.3,15.4-5.3,26c-3,10.7-12.5,25-22.7,36.3c-10.2,11.3-26.9,20.3-35.4,23.5
	c-8.5,3.2-14.7,3.1-16.6,4.3c-2.3,1.4-2.3,8.8-2,14.6c0.3,5.8-1.1,50,0.3,53c1.4,3,6.5,2.6,13.4,3.2c6.9,0.6,36.8,0.6,37.7,0.8
	c0.9,0.2,1.1,9.8,0.9,35.2c-0.2,25.4,1.5,73.3,2.4,99.2c0.9,25.9,5.3,58.5,20.8,78.6c15.5,20.1,34.4,32.1,76.9,37.9
	c42.6,5.8,74.2-4,101.6-16.6c27.4-12.7,43.6-28.3,45.3-34.9C360.4,447.7,360.8,408.5,360.4,398.6L360.4,398.6z M328.4,447.8
	c-0.8,1.2-7.5,7.8-8.5,6.1c-1.1-1.7-18.9-44-20.7-44.6c-1.8-0.6-6.7,1.5-5.9,4.1c0.8,2.6,20.4,44,20.2,44.8
	c-0.2,0.8-9.9,6.1-11.1,4.9c-1.2-1.2-18.9-42.6-20.4-43.3c-1.5-0.6-7.5,2.4-7,4.7c0.5,2.3,21.6,41.3,20.8,42.2
	c-0.8,0.9-9.4,5.3-11.9,4.1c-2.4-1.2-20.8-45.1-22.5-46c-1.7-0.9-7.9,1.4-6.7,4.9c1.2,3.5,20.5,44,20.1,45.1s-7.3,3.7-8.8,2.4
	c-1.5-1.2-20.5-48.4-22.2-49c-1.7-0.6-7,3.7-6.4,5.2c0.6,1.5,20.1,44.9,18.7,45.7c-1.4,0.8-7.3,2.4-8.5,0.8
	c-1.2-1.7-19.3-40.8-20.8-41.3c-1.5-0.5-5.9,2.4-6.2,3.7c-0.3,1.2,19.3,36.5,17.3,37.9c-2,1.4-11.2,1.5-12.9-0.6
	c-1.7-2.1-15.7-36.3-17.5-36.9c-1.8-0.6-7,1.5-6.4,4s16.7,31.8,16.4,32.7c-0.3,0.9-9.9,0.3-12-0.9c-2.1-1.2-12.9-27.9-15.1-28.5
	c-2.1-0.6-5.2,0.6-5.3,3.3s9.7,21,8.1,21.8c-1.7,0.8-12.5-1.8-13.7-3.2c-1.2-1.4-8.4-16.9-10.8-17.2c-2.4-0.3-4.9,1.5-4.7,3.2
	s4,10.5,4,10.5s-5-1.7-7-3.2c-2-1.5-23.9-15.7-30.1-32.6c-6.2-16.9-7.3-48.3-7.8-69.5c-0.5-21.2-2.4-73.3-2.4-92.6
	c0-19.3,1.7-23.9-3-25.7c-4.7-1.8-31.6,0.5-39.4,1.1c-7.8,0.6-9,0.5-9.3-0.8c-0.3-1.2-1.5-51.5,1.1-54.5c1-1.2,19.2-4.4,29.8-11.1
	c10.6-6.7,25.4-20.6,33.1-33.2c7.8-12.7,14.3-26.7,15.5-34.6c1.2-7.9,2.3-12.5,3.3-13.1c1.1-0.6,49.4-1.2,51.9,2.1
	c2.4,3.3,2.1,28.2,2.4,47.1s-0.8,36.1,4.6,37.2c5.3,1.1,30.6,1.5,53.2,2.7c22.7,1.2,33.6,1.4,35.4,3.2c1.8,1.8-1.7,13.4-3.2,22.1
	c-1.5,8.7-1.5,31.7-1.2,35.2l0.3,3.5c0,0-12.2,0.8-13.1-0.2s-18.4-37.6-20.2-37.6s-6.2,3.1-5.6,5.3c0.6,2.3,17.9,32.3,16.9,32.7
	c-1.1,0.5-7.3,1.2-8.5,0.3c-1.2-0.9-16.7-31.1-18.2-31.4c-1.5-0.3-5.9,3.2-5.2,5.3c0.8,2.1,16.6,26.8,15.7,27.1
	c-0.9,0.3-10.8,0.8-11.6,0.1c-0.8-0.6-11.9-25.7-14.7-26.7c-2.9-0.9-8.2,1.7-6.8,3.7c1.4,2,14.3,23.3,13.4,23.5
	c-0.9,0.2-9.9,0.9-10.9,0c-1-0.9-10.8-21.2-13.4-21.9c-2.6-0.8-6.5,1.5-6.1,4c0.5,2.4,8.7,16.5,9,17.5c0.3,1.1-11.1,2-12.8,8.1
	c-1.7,6.1-2.4,29.7-1.8,57.9c0.6,28.2,4,54.8,11.4,66.7c7.5,11.9,21,21,38.5,23.6c17.5,2.6,22.2,2.7,28.6,1.5
	c6.4-1.2,16.7-4.1,21-6.4c4.3-2.3,5.9-4,7.1-2.9c1.2,1.1,15.1,32.4,17.9,37.8S329.2,446.6,328.4,447.8L328.4,447.8z M336,440.1
	c-1.1,1.5-3,1.7-3.8,0.5s-17.8-38.5-15.7-41.6c1.3-1.9,5.5-2.6,6.5-1.2c1.1,1.4,10.5,18.3,11.3,21.9
	C335.1,423.3,337.1,438.5,336,440.1L336,440.1z M335.6,403c-1.4-0.8-5.5-9.6-5.5-10.2c0-2.1,5-5.3,5.9-4
	C337,390.2,337,403.8,335.6,403L335.6,403z"/>
                </svg>
            </a>
        </div>
    </div>
  </nav>
      </div>
  <div class="ui-view-container">
	<div ui-view></div>
  </div>
      <footer id="footer">
        <div class="large-12 columns">
          <div class="row row-collapse small-collapse">
            <div class="large-12 small-12 columns">
              <ul class="inline-list right" nav-menu="active">
                <li><a ng-href="/">Home</a></li>
                <li><a ng-href="/#terms">Terms</a></li>
                  <li><a ng-href="/#privacy">Privacy</a></li>
                  <li><a ng-href="/#privacy#cookies">Cookies</a></li>
                  <li>&copy; 2015 Luxe Brands, Inc.</li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  <script src="assets/js/app.js"></script>
    <script src="assets/js/index.js"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64937989-1', 'auto');
      ga('send', 'pageview');
  </script>
  <a href="#" class="cd-top">Top</a>
  <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
	</body>
</html>